@import
	url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import
	url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900')
	;

.x {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

.x-el, .x-el:after, .x-el:before {
	box-sizing: border-box
}

.x-el-article, .x-el-aside, .x-el-details, .x-el-figcaption,
	.x-el-figure, .x-el-footer, .x-el-header, .x-el-hgroup, .x-el-main,
	.x-el-menu, .x-el-nav, .x-el-section, .x-el-summary {
	display: block
}

.x-el-audio, .x-el-canvas, .x-el-progress, .x-el-video {
	display: inline-block;
	vertical-align: baseline
}

.x-el-audio












:not






 






(
[
controls
]






 






){
display












:






 






none












;
height












:






 






0
}
.x-el-template {
	display: none
}

.x-el-a {
	background-color: transparent;
	color: inherit
}

.x-el-a:active, .x-el-a:hover {
	outline: 0
}

.x-el-abbr[title] {
	border-bottom: 1px dotted
}

.x-el-b, .x-el-strong {
	font-weight: 700
}

.x-el-dfn {
	font-style: italic
}

.x-el-mark {
	background: #ff0;
	color: #000
}

.x-el-small {
	font-size: 80%
}

.x-el-sub, .x-el-sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

.x-el-sup {
	top: -.5em
}

.x-el-sub {
	bottom: -.25em
}

.x-el-img {
	vertical-align: middle;
	border: 0
}

.x-el-svg












:not






 






(
:root






 






){
overflow












:






 






hidden












}
.x-el-figure {
	margin: 0
}

.x-el-hr {
	box-sizing: content-box;
	height: 0
}

.x-el-pre {
	overflow: auto
}

.x-el-code, .x-el-kbd, .x-el-pre, .x-el-samp {
	font-family: monospace, monospace;
	font-size: 1em
}

.x-el-button, .x-el-input, .x-el-optgroup, .x-el-select, .x-el-textarea
	{
	color: inherit;
	font: inherit;
	margin: 0
}

.x-el-button {
	overflow: visible
}

.x-el-button, .x-el-select {
	text-transform: none
}

.x-el-button, .x-el-input[type=button], .x-el-input[type=reset],
	.x-el-input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

.x-el-button[disabled], .x-el-input[disabled] {
	cursor: default
}

.x-el-button::-moz-focus-inner, .x-el-input::-moz-focus-inner {
	border: 0;
	padding: 0
}

.x-el-input {
	line-height: normal
}

.x-el-input[type=checkbox], .x-el-input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

.x-el-input[type=number]::-webkit-inner-spin-button, .x-el-input[type=number]::-webkit-outer-spin-button
	{
	height: auto
}

.x-el-input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

.x-el-input[type=search]::-webkit-search-cancel-button, .x-el-input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

.x-el-textarea {
	border: 0
}

.x-el-fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

.x-el-legend {
	border: 0;
	padding: 0
}

.x-el-textarea {
	overflow: auto
}

.x-el-optgroup {
	font-weight: 700
}

.x-el-table {
	border-collapse: collapse;
	border-spacing: 0
}

.x-el-td, .x-el-th {
	padding: 0
}

.x {
	-webkit-font-smoothing: antialiased
}

.x-el-hr {
	border: 0
}

.x-el-fieldset, .x-el-input, .x-el-select, .x-el-textarea {
	margin-top: 0;
	margin-bottom: 0
}

.x-el-fieldset, .x-el-input[type=email], .x-el-input[type=text],
	.x-el-textarea {
	width: 100%
}

.x-el-input, .x-el-label {
	vertical-align: middle
}

.x-el-input {
	border-style: none;
	padding: .5em
}

.x-el-select












:not






 






(
[
multiple
]






 






){
vertical-align












:






 






middle














}
.x-el-textarea {
	line-height: 1.75;
	padding: .5em
}

.x-container, .x-container-fluid, .x-grid-container {
	margin-right: auto;
	margin-left: auto
}

.x-container-fluid, .x-grid-container {
	padding-right: 20px;
	padding-left: 20px
}

.x-row {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px
}

.x-row, .x-row.x-reverse {
	-webkit-box-orient: horizontal
}

.x-row.x-reverse {
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

.x-col.x-reverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse
}

.x-col-lg, .x-col-lg-1, .x-col-lg-2, .x-col-lg-3, .x-col-lg-4,
	.x-col-lg-5, .x-col-lg-6, .x-col-lg-7, .x-col-lg-8, .x-col-lg-9,
	.x-col-lg-10, .x-col-lg-11, .x-col-lg-12, .x-col-lg-offset-0,
	.x-col-lg-offset-1, .x-col-lg-offset-2, .x-col-lg-offset-3,
	.x-col-lg-offset-4, .x-col-lg-offset-5, .x-col-lg-offset-6,
	.x-col-lg-offset-7, .x-col-lg-offset-8, .x-col-lg-offset-9,
	.x-col-lg-offset-10, .x-col-lg-offset-11, .x-col-lg-offset-12,
	.x-col-md, .x-col-md-1, .x-col-md-2, .x-col-md-3, .x-col-md-4,
	.x-col-md-5, .x-col-md-6, .x-col-md-7, .x-col-md-8, .x-col-md-9,
	.x-col-md-10, .x-col-md-11, .x-col-md-12, .x-col-md-offset-0,
	.x-col-md-offset-1, .x-col-md-offset-2, .x-col-md-offset-3,
	.x-col-md-offset-4, .x-col-md-offset-5, .x-col-md-offset-6,
	.x-col-md-offset-7, .x-col-md-offset-8, .x-col-md-offset-9,
	.x-col-md-offset-10, .x-col-md-offset-11, .x-col-md-offset-12,
	.x-col-sm, .x-col-sm-1, .x-col-sm-2, .x-col-sm-3, .x-col-sm-4,
	.x-col-sm-5, .x-col-sm-6, .x-col-sm-7, .x-col-sm-8, .x-col-sm-9,
	.x-col-sm-10, .x-col-sm-11, .x-col-sm-12, .x-col-sm-offset-0,
	.x-col-sm-offset-1, .x-col-sm-offset-2, .x-col-sm-offset-3,
	.x-col-sm-offset-4, .x-col-sm-offset-5, .x-col-sm-offset-6,
	.x-col-sm-offset-7, .x-col-sm-offset-8, .x-col-sm-offset-9,
	.x-col-sm-offset-10, .x-col-sm-offset-11, .x-col-sm-offset-12,
	.x-col-xs, .x-col-xs-1, .x-col-xs-2, .x-col-xs-3, .x-col-xs-4,
	.x-col-xs-5, .x-col-xs-6, .x-col-xs-7, .x-col-xs-8, .x-col-xs-9,
	.x-col-xs-10, .x-col-xs-11, .x-col-xs-12, .x-col-xs-offset-0,
	.x-col-xs-offset-1, .x-col-xs-offset-2, .x-col-xs-offset-3,
	.x-col-xs-offset-4, .x-col-xs-offset-5, .x-col-xs-offset-6,
	.x-col-xs-offset-7, .x-col-xs-offset-8, .x-col-xs-offset-9,
	.x-col-xs-offset-10, .x-col-xs-offset-11, .x-col-xs-offset-12 {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: 10px;
	padding-left: 10px
}

.x-col-xs {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%
}

.x-col-xs-1 {
	-ms-flex-preferred-size: 8.333%;
	flex-basis: 8.333%;
	max-width: 8.333%
}

.x-col-xs-2 {
	-ms-flex-preferred-size: 16.666%;
	flex-basis: 16.666%;
	max-width: 16.666%
}

.x-col-xs-3 {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%
}

.x-col-xs-4 {
	-ms-flex-preferred-size: 33.333%;
	flex-basis: 33.333%;
	max-width: 33.333%
}

.x-col-xs-5 {
	-ms-flex-preferred-size: 41.667%;
	flex-basis: 41.667%;
	max-width: 41.667%
}

.x-col-xs-6 {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%
}

.x-col-xs-7 {
	-ms-flex-preferred-size: 58.333%;
	flex-basis: 58.333%;
	max-width: 58.333%
}

.x-col-xs-8 {
	-ms-flex-preferred-size: 66.667%;
	flex-basis: 66.667%;
	max-width: 66.667%
}

.x-col-xs-9 {
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
	max-width: 75%
}

.x-col-xs-10 {
	-ms-flex-preferred-size: 83.333%;
	flex-basis: 83.333%;
	max-width: 83.333%
}

.x-col-xs-11 {
	-ms-flex-preferred-size: 91.667%;
	flex-basis: 91.667%;
	max-width: 91.667%
}

.x-col-xs-12 {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%
}

.x-col-xs-offset-0 {
	margin-left: 0
}

.x-col-xs-offset-1 {
	margin-left: 8.333%
}

.x-col-xs-offset-2 {
	margin-left: 16.666%
}

.x-col-xs-offset-3 {
	margin-left: 25%
}

.x-col-xs-offset-4 {
	margin-left: 33.333%
}

.x-col-xs-offset-5 {
	margin-left: 41.667%
}

.x-col-xs-offset-6 {
	margin-left: 50%
}

.x-col-xs-offset-7 {
	margin-left: 58.333%
}

.x-col-xs-offset-8 {
	margin-left: 66.667%
}

.x-col-xs-offset-9 {
	margin-left: 75%
}

.x-col-xs-offset-10 {
	margin-left: 83.333%
}

.x-col-xs-offset-11 {
	margin-left: 91.667%
}

.x-start-xs {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: start
}

.x-center-xs {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center
}

.x-end-xs {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: end
}

.x-top-xs {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.x-middle-xs {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.x-bottom-xs {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.x-around-xs {
	-ms-flex-pack: distribute;
	justify-content: space-around
}

.x-between-xs {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.x-first-xs {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1
}

.x-last-xs {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1
}

.x-visible-lg, .x-visible-lg-block, .x-visible-lg-inline,
	.x-visible-lg-inline-block, .x-visible-md, .x-visible-md-block,
	.x-visible-md-inline, .x-visible-md-inline-block, .x-visible-sm,
	.x-visible-sm-block, .x-visible-sm-inline, .x-visible-sm-inline-block,
	.x-visible-xs, .x-visible-xs-block, .x-visible-xs-inline,
	.x-visible-xs-inline-block {
	display: none !important
}

.x-ta-center-bpxs {
	text-align: center
}

.x-ta-left-bpxs {
	text-align: left
}

.x-ta-right-bpxs {
	text-align: right
}

.x-pos-stat-bpxs {
	position: static
}

.x-pos-rel-bpxs {
	position: relative
}

.x-pos-abs-bpxs {
	position: absolute
}

.x-pos-fix-bpxs {
	position: fixed
}

.x-h-auto {
	height: auto
}

.x-h-0 {
	height: 0
}

.x-h-50 {
	height: 50%
}

.x-h-100 {
	height: 100%
}

.x-h-min-50 {
	min-height: 50%
}

.x-h-min-50v {
	min-height: 50vh
}

.x-h-min-75v {
	min-height: 75vh
}

.x-h-min-100 {
	min-height: 100%
}

.x-h-min-100v {
	min-height: 100vh
}

.x-h-max-50 {
	max-height: 50%
}

.x-h-max-50v {
	max-height: 50vh
}

.x-h-max-75v {
	max-height: 75vh
}

.x-h-max-100 {
	max-height: 100%
}

.x-h-max-100v {
	max-height: 100vh
}

.x-h-xs-bpxs {
	height: 10vh
}

.x-h-sm-bpxs {
	height: 25vh
}

.x-h-md-bpxs {
	height: 50vh
}

.x-h-lg-bpxs {
	height: 75vh
}

.x-h-xl-bpxs {
	height: 90vh
}

.x-h-50v-bpxs {
	height: 50vh
}

.x-h-75v-bpxs {
	height: 75vh
}

.x-h-100v-bpxs {
	height: 100vh
}

.x-bg-sz-auto-bpxs {
	background-size: auto
}

.x-bg-sz-cover-bpxs {
	background-size: cover
}

.x-bg-sz-contain-bpxs {
	background-size: contain
}

.x-m-t-0-bpxs {
	margin-top: 0
}

.x-m-t-xxs-bpxs {
	margin-top: 5px
}

.x-m-t-xs-bpxs {
	margin-top: 10px
}

.x-m-t-sm-bpxs {
	margin-top: 15px
}

.x-m-t-md-bpxs {
	margin-top: 20px
}

.x-m-t-lg-bpxs {
	margin-top: 40px
}

.x-m-t-xl-bpxs {
	margin-top: 80px
}

.x-m-b-0-bpxs {
	margin-bottom: 0
}

.x-m-b-xxs-bpxs {
	margin-bottom: 5px
}

.x-m-b-xs-bpxs {
	margin-bottom: 10px
}

.x-m-b-sm-bpxs {
	margin-bottom: 15px
}

.x-m-b-md-bpxs {
	margin-bottom: 20px
}

.x-m-b-lg-bpxs {
	margin-bottom: 40px
}

.x-m-b-xl-bpxs {
	margin-bottom: 80px
}

.x-m-l-0-bpxs {
	margin-left: 0
}

.x-m-l-xxs-bpxs {
	margin-left: 5px
}

.x-m-l-xs-bpxs {
	margin-left: 10px
}

.x-m-l-sm-bpxs {
	margin-left: 15px
}

.x-m-l-md-bpxs {
	margin-left: 20px
}

.x-m-l-lg-bpxs {
	margin-left: 40px
}

.x-m-l-xl-bpxs {
	margin-left: 80px
}

.x-m-r-0-bpxs {
	margin-right: 0
}

.x-m-r-xxs-bpxs {
	margin-right: 5px
}

.x-m-r-xs-bpxs {
	margin-right: 10px
}

.x-m-r-sm-bpxs {
	margin-right: 15px
}

.x-m-r-md-bpxs {
	margin-right: 20px
}

.x-m-r-lg-bpxs {
	margin-right: 40px
}

.x-m-r-xl-bpxs {
	margin-right: 80px
}

.x-p-t-0-bpxs {
	padding-top: 0
}

.x-p-t-xxs-bpxs {
	padding-top: 5px
}

.x-p-t-xs-bpxs {
	padding-top: 10px
}

.x-p-t-sm-bpxs {
	padding-top: 15px
}

.x-p-t-md-bpxs {
	padding-top: 20px
}

.x-p-t-lg-bpxs {
	padding-top: 40px
}

.x-p-t-xl-bpxs {
	padding-top: 80px
}

.x-p-b-0-bpxs {
	padding-bottom: 0
}

.x-p-b-xxs-bpxs {
	padding-bottom: 5px
}

.x-p-b-xs-bpxs {
	padding-bottom: 10px
}

.x-p-b-sm-bpxs {
	padding-bottom: 15px
}

.x-p-b-md-bpxs {
	padding-bottom: 20px
}

.x-p-b-lg-bpxs {
	padding-bottom: 40px
}

.x-p-b-xl-bpxs {
	padding-bottom: 80px
}

.x-p-l-0-bpxs {
	padding-left: 0
}

.x-p-l-xxs-bpxs {
	padding-left: 5px
}

.x-p-l-xs-bpxs {
	padding-left: 10px
}

.x-p-l-sm-bpxs {
	padding-left: 15px
}

.x-p-l-md-bpxs {
	padding-left: 20px
}

.x-p-l-lg-bpxs {
	padding-left: 40px
}

.x-p-l-xl-bpxs {
	padding-left: 80px
}

.x-p-r-0-bpxs {
	padding-right: 0
}

.x-p-r-xxs-bpxs {
	padding-right: 5px
}

.x-p-r-xs-bpxs {
	padding-right: 10px
}

.x-p-r-sm-bpxs {
	padding-right: 15px
}

.x-p-r-md-bpxs {
	padding-right: 20px
}

.x-p-r-lg-bpxs {
	padding-right: 40px
}

.x-p-r-xl-bpxs {
	padding-right: 80px
}

.x-bg-transparent {
	background-color: transparent
}

.x-bg-rep-no-repeat {
	background-repeat: no-repeat
}

.x-bs-initial {
	box-sizing: initial
}

.x-bs-content {
	box-sizing: content-box
}

.x-bs-border {
	box-sizing: border-box
}

.x-cf:after, .x-cf:before {
	content: " ";
	display: table
}

.x-cf:after {
	clear: both
}

.x-d-inline {
	display: inline
}

.x-d-block {
	display: block
}

.x-d-inline-block {
	display: inline-block
}

.x-d-table {
	display: table
}

.x-d-table-cell {
	display: table-cell
}

.x-d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.x-d-none {
	display: none
}

.x-fl-left {
	float: left
}

.x-fl-right {
	float: right
}

.x-fl-none {
	float: none
}

.x-flx-d-row {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row
}

.x-flx-d-col, .x-flx-d-row {
	-webkit-box-direction: normal
}

.x-flx-d-col {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column
}

.x-flx-d-row-rev {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

.x-flx-d-col-rev {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse
}

.x-flx-fw-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.x-flx-fw-nowrap {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.x-flx-fw-wrap-rev {
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse
}

.x-flx-jc-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.x-flx-jc-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.x-flx-jc-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.x-flx-jc-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.x-flx-jc-around {
	-ms-flex-pack: distribute;
	justify-content: space-around
}

.x-flx-jc-initial {
	-webkit-box-pack: initial;
	-ms-flex-pack: initial;
	justify-content: initial
}

.x-flx-ai-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.x-flx-ai-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.x-flx-ai-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.x-flx-ai-stretch {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch
}

.x-flx-grow-0 {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0
}

.x-flx-grow-1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

.x-flx-as-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.x-flx-as-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.x-flx-as-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.x-flx-as-stretch {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch
}

.x-l-s-none {
	list-style: none
}

.x-l-s-initial {
	list-style: initial
}

.x-ov-hidden {
	overflow: hidden
}

.x-ov-scroll {
	overflow: scroll
}

.x-ov-auto {
	overflow: auto
}

.x-va-top {
	vertical-align: top
}

.x-va-middle {
	vertical-align: middle
}

.x-va-bottom {
	vertical-align: bottom
}

.x-hidden {
	visibility: hidden
}

.x-visible {
	visibility: visible
}

.x-opacity-hover:hover {
	opacity: .6
}

.x-b-solid {
	border-style: solid
}

.x-b-dotted {
	border-style: dotted
}

.x-w-auto {
	width: auto
}

.x-w-0 {
	width: 0
}

.x-w-50 {
	width: 50%
}

.x-w-100 {
	width: 100%
}

.x-w-100m {
	max-width: 100%
}

.x-ww-break {
	overflow-wrap: break-word
}

.x-ww-normal {
	overflow-wrap: normal
}

.x-ww-inherit {
	overflow-wrap: inherit
}

.x-fs-italic {
	font-style: italic
}

.x-td-strike {
	text-decoration: line-through
}

.x-td-underline {
	text-decoration: underline
}

.x-td-none {
	text-decoration: none
}

.x-ta-center {
	text-align: center
}

.x-ta-left {
	text-align: left
}

.x-ta-right {
	text-align: right
}

.x-ta-justify {
	text-align: justify
}

.x-ta-unset {
	text-align: unset
}

.x-ws-nowrap {
	white-space: nowrap
}

.x-ws-normal {
	white-space: normal
}

.x-to-clip {
	text-overflow: clip
}

.x-to-ellipsis {
	text-overflow: ellipsis
}

.x-tc-lower {
	text-transform: lowercase
}

.x-tc-upper {
	text-transform: uppercase
}

.x-tc-cap {
	text-transform: capitalize
}

.x-f-alt-fam.x-f-lh-lg, .x-f-alt-fam.x-f-lh-sm, .x-f-alt-fam.x-f-lh-xl,
	.x-f-alt-fam.x-f-lh-xs, .x-f-pri-fam.x-f-lh-lg, .x-f-pri-fam.x-f-lh-sm,
	.x-f-pri-fam.x-f-lh-xl, .x-f-pri-fam.x-f-lh-xs {
	line-height: 1.13636364em
}

.x-f-alt-fam.x-f-lh-md, .x-f-pri-fam.x-f-lh-md {
	line-height: 1.5em
}

.x-f-alt-fam.x-f-lh-xxl, .x-f-pri-fam.x-f-lh-xxl {
	line-height: 1.15em
}

.x-f-alt-fam.x-f-lh-jumbo, .x-f-alt-fam.x-f-lh-xxxl, .x-f-pri-fam.x-f-lh-jumbo,
	.x-f-pri-fam.x-f-lh-xxxl {
	line-height: 1.125em
}

.x-cur-pointer {
	cursor: pointer
}

.x-cur-disabled {
	cursor: not-allowed
}

.x-pos-abs {
	position: absolute
}

.x-pos-rel {
	position: relative
}

.x-pos-fix {
	position: fixed
}

.x-pos-stat {
	position: static
}

.x-b-rad-circle {
	border-radius: 50%
}

.x-b-rad-rounded {
	border-radius: 10000px
}

.x-bg-pos-left-top {
	background-position: 0 0
}

.x-bg-pos-right-top {
	background-position: 100% 0
}

.x-bg-pos-top {
	background-position: top
}

.x-bg-pos-left {
	background-position: 0
}

.x-bg-pos-center {
	background-position: 50%
}

.x-bg-pos-right {
	background-position: 100%
}

.x-bg-pos-bottom {
	background-position: bottom
}

.x-bg-pos-left-bottom {
	background-position: 0 100%
}

.x-bg-pos-right-bottom {
	background-position: 100% 100%
}

@
-webkit-keyframes a { 0%{
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1
}

45%{
-webkit-transform












:scale












(
.1












);
transform












:scale












(
.1












);
opacity












:












.7












}
80%{
-webkit-transform












:scale(1)












;
transform












:scale(1)












;
opacity












:












1
}
}
@
keyframes a { 0%{
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1
}

45%{
-webkit-transform












:scale












(
.1












);
transform












:scale












(
.1












);
opacity












:












.7












}
80%{
-webkit-transform












:scale(1)












;
transform












:scale(1)












;
opacity












:












1
}
}
.x-loader svg {
	display: inline-block
}

.x-loader svg:first-child {
	-webkit-animation: a .75s -.24s infinite
		cubic-bezier(.2, .68, .18, 1.08);
	animation: a .75s -.24s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.x-loader svg:nth-child(2) {
	-webkit-animation: a .75s -.12s infinite
		cubic-bezier(.2, .68, .18, 1.08);
	animation: a .75s -.12s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.x-loader svg:nth-child(3) {
	-webkit-animation: a .75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
	animation: a .75s 0s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.x-icon>svg {
	transition: -webkit-transform .33s ease-in-out;
	transition: transform .33s ease-in-out;
	transition: transform .33s ease-in-out, -webkit-transform .33s
		ease-in-out
}

.x-icon>svg.rotate-90 {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.x-icon>svg.rotate90 {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.x-icon>svg.rotate-180 {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

.x-icon>svg.rotate180 {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.x-sel-div .x-el-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-style: none;
	cursor: pointer;
	padding-right: 30px;
	width: 100%
}

.x-sel-div .x-el-select::-ms-expand {
	display: none
}

.x-sel-div .x-el-div {
	top: 50%;
	margin-top: -8px;
	right: 10px
}

.x-rt ol, .x-rt ul {
	text-align: left
}

.carousel {
	text-align: center;
	opacity: 0;
	transition: opacity .5s
}

.carousel, .carousel .carousel-container-inner {
	position: relative;
	margin: 0 auto
}

.carousel .carousel-viewport {
	overflow: hidden;
	white-space: nowrap;
	text-align: left
}

.carousel .carousel-arrow {
	position: absolute;
	z-index: 1;
	color: #fff;
	border: 3px solid;
	border-radius: 50%;
	bottom: 23px;
	height: 32px;
	width: 32px;
	font-weight: 900;
	background: rgba(0, 0, 0, .15);
	padding: 0;
	cursor: pointer
}

.carousel .carousel-arrow:focus {
	outline: none
}

.carousel .carousel-arrow:before {
	font-size: 19px;
	display: block;
	margin-top: -2px
}

.carousel .carousel-arrow:disabled {
	cursor: not-allowed;
	opacity: .5
}

.carousel .carousel-left-arrow {
	left: 23px
}

.carousel .carousel-left-arrow:before {
	content: "<";
	padding-right: 2px
}

.carousel .carousel-right-arrow {
	right: 23px
}

.carousel .carousel-right-arrow:before {
	content: ">";
	padding-left: 2px
}

.carousel .carousel-track {
	list-style: none;
	padding: 0;
	margin: 0;
	-ms-touch-action: pan-y pinch-zoom;
	touch-action: pan-y pinch-zoom
}

.carousel .carousel-track .carousel-slide {
	display: inline-block;
	opacity: .7;
	transition: opacity .5s ease-in-out;
	white-space: normal
}

.carousel .carousel-track .carousel-slide>* {
	display: block
}

.carousel .carousel-track .carousel-slide.carousel-slide-loading {
	background: hsla(0, 0%, 80%, .7)
}

.carousel .carousel-track .carousel-slide.carousel-slide-fade {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 0
}

.carousel .carousel-track .carousel-slide.carousel-slide-selected,
	.carousel.loaded {
	opacity: 1
}

.carousel .carousel-dots {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30px;
	text-align: center
}

.carousel .carousel-dots li {
	display: inline-block
}

.carousel .carousel-dots button {
	border: 0;
	background: transparent;
	font-size: 1.1em;
	cursor: pointer;
	color: #ccc;
	padding-left: 6px;
	padding-right: 6px
}

.carousel .carousel-dots button.selected {
	color: #000
}

.carousel .carousel-dots button:focus {
	outline: none
}

.x-b-0 {
	border-width: 0
}

.x-b-xs {
	border-width: 1px
}

.x-b-sm {
	border-width: 2px
}

.x-b-md {
	border-width: 4px
}

.x-b-lg {
	border-width: 6px
}

.x-b-xl {
	border-width: 8px
}

.x-b-t-0 {
	border-top-width: 0
}

.x-b-t-xs {
	border-top-width: 1px
}

.x-b-t-sm {
	border-top-width: 2px
}

.x-b-t-md {
	border-top-width: 4px
}

.x-b-t-lg {
	border-top-width: 6px
}

.x-b-t-xl {
	border-top-width: 8px
}

.x-b-b-0 {
	border-bottom-width: 0
}

.x-b-b-xs {
	border-bottom-width: 1px
}

.x-b-b-sm {
	border-bottom-width: 2px
}

.x-b-b-md {
	border-bottom-width: 4px
}

.x-b-b-lg {
	border-bottom-width: 6px
}

.x-b-b-xl {
	border-bottom-width: 8px
}

.x-b-l-0 {
	border-left-width: 0
}

.x-b-l-xs {
	border-left-width: 1px
}

.x-b-l-sm {
	border-left-width: 2px
}

.x-b-l-md {
	border-left-width: 4px
}

.x-b-l-lg {
	border-left-width: 6px
}

.x-b-l-xl {
	border-left-width: 8px
}

.x-b-r-0 {
	border-right-width: 0
}

.x-b-r-xs {
	border-right-width: 1px
}

.x-b-r-sm {
	border-right-width: 2px
}

.x-b-r-md {
	border-right-width: 4px
}

.x-b-r-lg {
	border-right-width: 6px
}

.x-b-r-xl {
	border-right-width: 8px
}

.x-b-rad-0 {
	border-radius: 0
}

.x-b-rad-xs {
	border-radius: 1px
}

.x-b-rad-sm {
	border-radius: 2px
}

.x-b-rad-md {
	border-radius: 4px
}

.x-b-rad-lg {
	border-radius: 6px
}

.x-b-rad-xl {
	border-radius: 8px
}

.x-b-rad-t-xs {
	border-top-left-radius: 1px;
	border-top-right-radius: 1px
}

.x-b-rad-t-sm {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px
}

.x-b-rad-t-md {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.x-b-rad-t-lg {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px
}

.x-b-rad-t-xl {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px
}

.x-b-rad-b-xs {
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px
}

.x-b-rad-b-sm {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}

.x-b-rad-b-md {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px
}

.x-b-rad-b-lg {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px
}

.x-b-rad-b-xl {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px
}

.x-w-xs {
	width: 10vw
}

.x-w-sm {
	width: 25vw
}

.x-w-md {
	width: 50vw
}

.x-w-lg {
	width: 75vw
}

.x-w-xl {
	width: 90vw
}

.x-w-50v {
	width: 50vw
}

.x-w-100v {
	width: 100vw
}

@media ( min-width :768px) {
	.x-container, .x-grid-container {
		width: 807px;
		max-width: 100%
	}
	.x-container-fluid, .x-grid-container {
		padding-right: 40px;
		padding-left: 40px
	}
	.x-row {
		margin-right: -20px;
		margin-left: -20px
	}
	.x-col-lg, .x-col-lg-1, .x-col-lg-2, .x-col-lg-3, .x-col-lg-4,
		.x-col-lg-5, .x-col-lg-6, .x-col-lg-7, .x-col-lg-8, .x-col-lg-9,
		.x-col-lg-10, .x-col-lg-11, .x-col-lg-12, .x-col-lg-offset-0,
		.x-col-lg-offset-1, .x-col-lg-offset-2, .x-col-lg-offset-3,
		.x-col-lg-offset-4, .x-col-lg-offset-5, .x-col-lg-offset-6,
		.x-col-lg-offset-7, .x-col-lg-offset-8, .x-col-lg-offset-9,
		.x-col-lg-offset-10, .x-col-lg-offset-11, .x-col-lg-offset-12,
		.x-col-md, .x-col-md-1, .x-col-md-2, .x-col-md-3, .x-col-md-4,
		.x-col-md-5, .x-col-md-6, .x-col-md-7, .x-col-md-8, .x-col-md-9,
		.x-col-md-10, .x-col-md-11, .x-col-md-12, .x-col-md-offset-0,
		.x-col-md-offset-1, .x-col-md-offset-2, .x-col-md-offset-3,
		.x-col-md-offset-4, .x-col-md-offset-5, .x-col-md-offset-6,
		.x-col-md-offset-7, .x-col-md-offset-8, .x-col-md-offset-9,
		.x-col-md-offset-10, .x-col-md-offset-11, .x-col-md-offset-12,
		.x-col-sm, .x-col-sm-1, .x-col-sm-2, .x-col-sm-3, .x-col-sm-4,
		.x-col-sm-5, .x-col-sm-6, .x-col-sm-7, .x-col-sm-8, .x-col-sm-9,
		.x-col-sm-10, .x-col-sm-11, .x-col-sm-12, .x-col-sm-offset-0,
		.x-col-sm-offset-1, .x-col-sm-offset-2, .x-col-sm-offset-3,
		.x-col-sm-offset-4, .x-col-sm-offset-5, .x-col-sm-offset-6,
		.x-col-sm-offset-7, .x-col-sm-offset-8, .x-col-sm-offset-9,
		.x-col-sm-offset-10, .x-col-sm-offset-11, .x-col-sm-offset-12,
		.x-col-xs, .x-col-xs-1, .x-col-xs-2, .x-col-xs-3, .x-col-xs-4,
		.x-col-xs-5, .x-col-xs-6, .x-col-xs-7, .x-col-xs-8, .x-col-xs-9,
		.x-col-xs-10, .x-col-xs-11, .x-col-xs-12, .x-col-xs-offset-0,
		.x-col-xs-offset-1, .x-col-xs-offset-2, .x-col-xs-offset-3,
		.x-col-xs-offset-4, .x-col-xs-offset-5, .x-col-xs-offset-6,
		.x-col-xs-offset-7, .x-col-xs-offset-8, .x-col-xs-offset-9,
		.x-col-xs-offset-10, .x-col-xs-offset-11, .x-col-xs-offset-12 {
		padding-right: 20px;
		padding-left: 20px
	}
	.x-col-sm {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.x-col-sm-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%
	}
	.x-col-sm-2 {
		-ms-flex-preferred-size: 16.666%;
		flex-basis: 16.666%;
		max-width: 16.666%
	}
	.x-col-sm-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.x-col-sm-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%
	}
	.x-col-sm-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%
	}
	.x-col-sm-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.x-col-sm-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%
	}
	.x-col-sm-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%
	}
	.x-col-sm-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.x-col-sm-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%
	}
	.x-col-sm-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%
	}
	.x-col-sm-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
	.x-col-sm-offset-0 {
		margin-left: 0
	}
	.x-col-sm-offset-1 {
		margin-left: 8.333%
	}
	.x-col-sm-offset-2 {
		margin-left: 16.666%
	}
	.x-col-sm-offset-3 {
		margin-left: 25%
	}
	.x-col-sm-offset-4 {
		margin-left: 33.333%
	}
	.x-col-sm-offset-5 {
		margin-left: 41.667%
	}
	.x-col-sm-offset-6 {
		margin-left: 50%
	}
	.x-col-sm-offset-7 {
		margin-left: 58.333%
	}
	.x-col-sm-offset-8 {
		margin-left: 66.667%
	}
	.x-col-sm-offset-9 {
		margin-left: 75%
	}
	.x-col-sm-offset-10 {
		margin-left: 83.333%
	}
	.x-col-sm-offset-11 {
		margin-left: 91.667%
	}
	.x-start-sm {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start
	}
	.x-center-sm {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center
	}
	.x-end-sm {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end
	}
	.x-top-sm {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
	.x-middle-sm {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
	.x-bottom-sm {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end
	}
	.x-around-sm {
		-ms-flex-pack: distribute;
		justify-content: space-around
	}
	.x-between-sm {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	.x-first-sm {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	.x-last-sm {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
	.x-ta-center-bpsm {
		text-align: center
	}
	.x-ta-left-bpsm {
		text-align: left
	}
	.x-ta-right-bpsm {
		text-align: right
	}
	.x-pos-stat-bpsm {
		position: static
	}
	.x-pos-rel-bpsm {
		position: relative
	}
	.x-pos-abs-bpsm {
		position: absolute
	}
	.x-pos-fix-bpsm {
		position: fixed
	}
	.x-h-xs-bpsm {
		height: 10vh
	}
	.x-h-sm-bpsm {
		height: 25vh
	}
	.x-h-md-bpsm {
		height: 50vh
	}
	.x-h-lg-bpsm {
		height: 75vh
	}
	.x-h-xl-bpsm {
		height: 90vh
	}
	.x-h-50v-bpsm {
		height: 50vh
	}
	.x-h-75v-bpsm {
		height: 75vh
	}
	.x-h-100v-bpsm {
		height: 100vh
	}
	.x-bg-sz-auto-bpsm {
		background-size: auto
	}
	.x-bg-sz-cover-bpsm {
		background-size: cover
	}
	.x-bg-sz-contain-bpsm {
		background-size: contain
	}
	.x-m-t-0-bpsm {
		margin-top: 0
	}
	.x-m-t-xxs-bpsm {
		margin-top: 5px
	}
	.x-m-t-xs-bpsm {
		margin-top: 10px
	}
	.x-m-t-sm-bpsm {
		margin-top: 15px
	}
	.x-m-t-md-bpsm {
		margin-top: 20px
	}
	.x-m-t-lg-bpsm {
		margin-top: 40px
	}
	.x-m-t-xl-bpsm {
		margin-top: 80px
	}
	.x-m-b-0-bpsm {
		margin-bottom: 0
	}
	.x-m-b-xxs-bpsm {
		margin-bottom: 5px
	}
	.x-m-b-xs-bpsm {
		margin-bottom: 10px
	}
	.x-m-b-sm-bpsm {
		margin-bottom: 15px
	}
	.x-m-b-md-bpsm {
		margin-bottom: 20px
	}
	.x-m-b-lg-bpsm {
		margin-bottom: 40px
	}
	.x-m-b-xl-bpsm {
		margin-bottom: 80px
	}
	.x-m-l-0-bpsm {
		margin-left: 0
	}
	.x-m-l-xxs-bpsm {
		margin-left: 5px
	}
	.x-m-l-xs-bpsm {
		margin-left: 10px
	}
	.x-m-l-sm-bpsm {
		margin-left: 15px
	}
	.x-m-l-md-bpsm {
		margin-left: 20px
	}
	.x-m-l-lg-bpsm {
		margin-left: 40px
	}
	.x-m-l-xl-bpsm {
		margin-left: 80px
	}
	.x-m-r-0-bpsm {
		margin-right: 0
	}
	.x-m-r-xxs-bpsm {
		margin-right: 5px
	}
	.x-m-r-xs-bpsm {
		margin-right: 10px
	}
	.x-m-r-sm-bpsm {
		margin-right: 15px
	}
	.x-m-r-md-bpsm {
		margin-right: 20px
	}
	.x-m-r-lg-bpsm {
		margin-right: 40px
	}
	.x-m-r-xl-bpsm {
		margin-right: 80px
	}
	.x-p-t-0-bpsm {
		padding-top: 0
	}
	.x-p-t-xxs-bpsm {
		padding-top: 5px
	}
	.x-p-t-xs-bpsm {
		padding-top: 10px
	}
	.x-p-t-sm-bpsm {
		padding-top: 15px
	}
	.x-p-t-md-bpsm {
		padding-top: 20px
	}
	.x-p-t-lg-bpsm {
		padding-top: 40px
	}
	.x-p-t-xl-bpsm {
		padding-top: 80px
	}
	.x-p-b-0-bpsm {
		padding-bottom: 0
	}
	.x-p-b-xxs-bpsm {
		padding-bottom: 5px
	}
	.x-p-b-xs-bpsm {
		padding-bottom: 10px
	}
	.x-p-b-sm-bpsm {
		padding-bottom: 15px
	}
	.x-p-b-md-bpsm {
		padding-bottom: 20px
	}
	.x-p-b-lg-bpsm {
		padding-bottom: 40px
	}
	.x-p-b-xl-bpsm {
		padding-bottom: 80px
	}
	.x-p-l-0-bpsm {
		padding-left: 0
	}
	.x-p-l-xxs-bpsm {
		padding-left: 5px
	}
	.x-p-l-xs-bpsm {
		padding-left: 10px
	}
	.x-p-l-sm-bpsm {
		padding-left: 15px
	}
	.x-p-l-md-bpsm {
		padding-left: 20px
	}
	.x-p-l-lg-bpsm {
		padding-left: 40px
	}
	.x-p-l-xl-bpsm {
		padding-left: 80px
	}
	.x-p-r-0-bpsm {
		padding-right: 0
	}
	.x-p-r-xxs-bpsm {
		padding-right: 5px
	}
	.x-p-r-xs-bpsm {
		padding-right: 10px
	}
	.x-p-r-sm-bpsm {
		padding-right: 15px
	}
	.x-p-r-md-bpsm {
		padding-right: 20px
	}
	.x-p-r-lg-bpsm {
		padding-right: 40px
	}
	.x-p-r-xl-bpsm {
		padding-right: 80px
	}
}

@media ( min-width :1024px) {
	.x-container, .x-grid-container {
		width: 1063px;
		max-width: 100%
	}
	.x-col-md {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.x-col-md-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%
	}
	.x-col-md-2 {
		-ms-flex-preferred-size: 16.666%;
		flex-basis: 16.666%;
		max-width: 16.666%
	}
	.x-col-md-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.x-col-md-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%
	}
	.x-col-md-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%
	}
	.x-col-md-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.x-col-md-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%
	}
	.x-col-md-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%
	}
	.x-col-md-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.x-col-md-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%
	}
	.x-col-md-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%
	}
	.x-col-md-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
	.x-col-md-offset-0 {
		margin-left: 0
	}
	.x-col-md-offset-1 {
		margin-left: 8.333%
	}
	.x-col-md-offset-2 {
		margin-left: 16.666%
	}
	.x-col-md-offset-3 {
		margin-left: 25%
	}
	.x-col-md-offset-4 {
		margin-left: 33.333%
	}
	.x-col-md-offset-5 {
		margin-left: 41.667%
	}
	.x-col-md-offset-6 {
		margin-left: 50%
	}
	.x-col-md-offset-7 {
		margin-left: 58.333%
	}
	.x-col-md-offset-8 {
		margin-left: 66.667%
	}
	.x-col-md-offset-9 {
		margin-left: 75%
	}
	.x-col-md-offset-10 {
		margin-left: 83.333%
	}
	.x-col-md-offset-11 {
		margin-left: 91.667%
	}
	.x-start-md {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start
	}
	.x-center-md {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center
	}
	.x-end-md {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end
	}
	.x-top-md {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
	.x-middle-md {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
	.x-bottom-md {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end
	}
	.x-around-md {
		-ms-flex-pack: distribute;
		justify-content: space-around
	}
	.x-between-md {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	.x-first-md {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	.x-last-md {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
	.x-ta-center-bpmd {
		text-align: center
	}
	.x-ta-left-bpmd {
		text-align: left
	}
	.x-ta-right-bpmd {
		text-align: right
	}
	.x-pos-stat-bpmd {
		position: static
	}
	.x-pos-rel-bpmd {
		position: relative
	}
	.x-pos-abs-bpmd {
		position: absolute
	}
	.x-pos-fix-bpmd {
		position: fixed
	}
	.x-h-xs-bpmd {
		height: 10vh
	}
	.x-h-sm-bpmd {
		height: 25vh
	}
	.x-h-md-bpmd {
		height: 50vh
	}
	.x-h-lg-bpmd {
		height: 75vh
	}
	.x-h-xl-bpmd {
		height: 90vh
	}
	.x-h-50v-bpmd {
		height: 50vh
	}
	.x-h-75v-bpmd {
		height: 75vh
	}
	.x-h-100v-bpmd {
		height: 100vh
	}
	.x-bg-sz-auto-bpmd {
		background-size: auto
	}
	.x-bg-sz-cover-bpmd {
		background-size: cover
	}
	.x-bg-sz-contain-bpmd {
		background-size: contain
	}
	.x-m-t-0-bpmd {
		margin-top: 0
	}
	.x-m-t-xxs-bpmd {
		margin-top: 5px
	}
	.x-m-t-xs-bpmd {
		margin-top: 10px
	}
	.x-m-t-sm-bpmd {
		margin-top: 15px
	}
	.x-m-t-md-bpmd {
		margin-top: 20px
	}
	.x-m-t-lg-bpmd {
		margin-top: 40px
	}
	.x-m-t-xl-bpmd {
		margin-top: 80px
	}
	.x-m-b-0-bpmd {
		margin-bottom: 0
	}
	.x-m-b-xxs-bpmd {
		margin-bottom: 5px
	}
	.x-m-b-xs-bpmd {
		margin-bottom: 10px
	}
	.x-m-b-sm-bpmd {
		margin-bottom: 15px
	}
	.x-m-b-md-bpmd {
		margin-bottom: 20px
	}
	.x-m-b-lg-bpmd {
		margin-bottom: 40px
	}
	.x-m-b-xl-bpmd {
		margin-bottom: 80px
	}
	.x-m-l-0-bpmd {
		margin-left: 0
	}
	.x-m-l-xxs-bpmd {
		margin-left: 5px
	}
	.x-m-l-xs-bpmd {
		margin-left: 10px
	}
	.x-m-l-sm-bpmd {
		margin-left: 15px
	}
	.x-m-l-md-bpmd {
		margin-left: 20px
	}
	.x-m-l-lg-bpmd {
		margin-left: 40px
	}
	.x-m-l-xl-bpmd {
		margin-left: 80px
	}
	.x-m-r-0-bpmd {
		margin-right: 0
	}
	.x-m-r-xxs-bpmd {
		margin-right: 5px
	}
	.x-m-r-xs-bpmd {
		margin-right: 10px
	}
	.x-m-r-sm-bpmd {
		margin-right: 15px
	}
	.x-m-r-md-bpmd {
		margin-right: 20px
	}
	.x-m-r-lg-bpmd {
		margin-right: 40px
	}
	.x-m-r-xl-bpmd {
		margin-right: 80px
	}
	.x-p-t-0-bpmd {
		padding-top: 0
	}
	.x-p-t-xxs-bpmd {
		padding-top: 5px
	}
	.x-p-t-xs-bpmd {
		padding-top: 10px
	}
	.x-p-t-sm-bpmd {
		padding-top: 15px
	}
	.x-p-t-md-bpmd {
		padding-top: 20px
	}
	.x-p-t-lg-bpmd {
		padding-top: 40px
	}
	.x-p-t-xl-bpmd {
		padding-top: 80px
	}
	.x-p-b-0-bpmd {
		padding-bottom: 0
	}
	.x-p-b-xxs-bpmd {
		padding-bottom: 5px
	}
	.x-p-b-xs-bpmd {
		padding-bottom: 10px
	}
	.x-p-b-sm-bpmd {
		padding-bottom: 15px
	}
	.x-p-b-md-bpmd {
		padding-bottom: 20px
	}
	.x-p-b-lg-bpmd {
		padding-bottom: 40px
	}
	.x-p-b-xl-bpmd {
		padding-bottom: 80px
	}
	.x-p-l-0-bpmd {
		padding-left: 0
	}
	.x-p-l-xxs-bpmd {
		padding-left: 5px
	}
	.x-p-l-xs-bpmd {
		padding-left: 10px
	}
	.x-p-l-sm-bpmd {
		padding-left: 15px
	}
	.x-p-l-md-bpmd {
		padding-left: 20px
	}
	.x-p-l-lg-bpmd {
		padding-left: 40px
	}
	.x-p-l-xl-bpmd {
		padding-left: 80px
	}
	.x-p-r-0-bpmd {
		padding-right: 0
	}
	.x-p-r-xxs-bpmd {
		padding-right: 5px
	}
	.x-p-r-xs-bpmd {
		padding-right: 10px
	}
	.x-p-r-sm-bpmd {
		padding-right: 15px
	}
	.x-p-r-md-bpmd {
		padding-right: 20px
	}
	.x-p-r-lg-bpmd {
		padding-right: 40px
	}
	.x-p-r-xl-bpmd {
		padding-right: 80px
	}
	.x-f-alt-fam.x-f-lh-lg, .x-f-alt-fam.x-f-lh-sm, .x-f-alt-fam.x-f-lh-xl,
		.x-f-alt-fam.x-f-lh-xs, .x-f-pri-fam.x-f-lh-lg, .x-f-pri-fam.x-f-lh-sm,
		.x-f-pri-fam.x-f-lh-xl, .x-f-pri-fam.x-f-lh-xs {
		line-height: 1.25em
	}
	.x-f-alt-fam.x-f-lh-md, .x-f-pri-fam.x-f-lh-md {
		line-height: 1.5em
	}
	.x-f-alt-fam.x-f-lh-xxl, .x-f-pri-fam.x-f-lh-xxl {
		line-height: 1.125em
	}
	.x-f-alt-fam.x-f-lh-jumbo, .x-f-alt-fam.x-f-lh-xxxl, .x-f-pri-fam.x-f-lh-jumbo,
		.x-f-pri-fam.x-f-lh-xxxl {
		line-height: 1.05em
	}
}

@media ( min-width :1200px) {
	.x-container, .x-grid-container {
		width: 1239px;
		max-width: 100%
	}
	.x-col-lg {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.x-col-lg-1 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%
	}
	.x-col-lg-2 {
		-ms-flex-preferred-size: 16.666%;
		flex-basis: 16.666%;
		max-width: 16.666%
	}
	.x-col-lg-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.x-col-lg-4 {
		-ms-flex-preferred-size: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%
	}
	.x-col-lg-5 {
		-ms-flex-preferred-size: 41.667%;
		flex-basis: 41.667%;
		max-width: 41.667%
	}
	.x-col-lg-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.x-col-lg-7 {
		-ms-flex-preferred-size: 58.333%;
		flex-basis: 58.333%;
		max-width: 58.333%
	}
	.x-col-lg-8 {
		-ms-flex-preferred-size: 66.667%;
		flex-basis: 66.667%;
		max-width: 66.667%
	}
	.x-col-lg-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.x-col-lg-10 {
		-ms-flex-preferred-size: 83.333%;
		flex-basis: 83.333%;
		max-width: 83.333%
	}
	.x-col-lg-11 {
		-ms-flex-preferred-size: 91.667%;
		flex-basis: 91.667%;
		max-width: 91.667%
	}
	.x-col-lg-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
	.x-col-lg-offset-0 {
		margin-left: 0
	}
	.x-col-lg-offset-1 {
		margin-left: 8.333%
	}
	.x-col-lg-offset-2 {
		margin-left: 16.666%
	}
	.x-col-lg-offset-3 {
		margin-left: 25%
	}
	.x-col-lg-offset-4 {
		margin-left: 33.333%
	}
	.x-col-lg-offset-5 {
		margin-left: 41.667%
	}
	.x-col-lg-offset-6 {
		margin-left: 50%
	}
	.x-col-lg-offset-7 {
		margin-left: 58.333%
	}
	.x-col-lg-offset-8 {
		margin-left: 66.667%
	}
	.x-col-lg-offset-9 {
		margin-left: 75%
	}
	.x-col-lg-offset-10 {
		margin-left: 83.333%
	}
	.x-col-lg-offset-11 {
		margin-left: 91.667%
	}
	.x-start-lg {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start
	}
	.x-center-lg {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center
	}
	.x-end-lg {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end
	}
	.x-top-lg {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
	.x-middle-lg {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
	.x-bottom-lg {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end
	}
	.x-around-lg {
		-ms-flex-pack: distribute;
		justify-content: space-around
	}
	.x-between-lg {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	.x-first-lg {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	.x-last-lg {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
	.x-visible-lg {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important
	}
	.x-visible-lg-block {
		display: block !important
	}
	.x-visible-lg-inline {
		display: inline !important
	}
	.x-visible-lg-inline-block {
		display: inline-block !important
	}
	.x-hidden-lg {
		display: none !important
	}
	.x-ta-center-bplg {
		text-align: center
	}
	.x-ta-left-bplg {
		text-align: left
	}
	.x-ta-right-bplg {
		text-align: right
	}
	.x-pos-stat-bplg {
		position: static
	}
	.x-pos-rel-bplg {
		position: relative
	}
	.x-pos-abs-bplg {
		position: absolute
	}
	.x-pos-fix-bplg {
		position: fixed
	}
	.x-h-xs-bplg {
		height: 10vh
	}
	.x-h-sm-bplg {
		height: 25vh
	}
	.x-h-md-bplg {
		height: 50vh
	}
	.x-h-lg-bplg {
		height: 75vh
	}
	.x-h-xl-bplg {
		height: 90vh
	}
	.x-h-50v-bplg {
		height: 50vh
	}
	.x-h-75v-bplg {
		height: 75vh
	}
	.x-h-100v-bplg {
		height: 100vh
	}
	.x-bg-sz-auto-bplg {
		background-size: auto
	}
	.x-bg-sz-cover-bplg {
		background-size: cover
	}
	.x-bg-sz-contain-bplg {
		background-size: contain
	}
	.x-m-t-0-bplg {
		margin-top: 0
	}
	.x-m-t-xxs-bplg {
		margin-top: 5px
	}
	.x-m-t-xs-bplg {
		margin-top: 10px
	}
	.x-m-t-sm-bplg {
		margin-top: 15px
	}
	.x-m-t-md-bplg {
		margin-top: 20px
	}
	.x-m-t-lg-bplg {
		margin-top: 40px
	}
	.x-m-t-xl-bplg {
		margin-top: 80px
	}
	.x-m-b-0-bplg {
		margin-bottom: 0
	}
	.x-m-b-xxs-bplg {
		margin-bottom: 5px
	}
	.x-m-b-xs-bplg {
		margin-bottom: 10px
	}
	.x-m-b-sm-bplg {
		margin-bottom: 15px
	}
	.x-m-b-md-bplg {
		margin-bottom: 20px
	}
	.x-m-b-lg-bplg {
		margin-bottom: 40px
	}
	.x-m-b-xl-bplg {
		margin-bottom: 80px
	}
	.x-m-l-0-bplg {
		margin-left: 0
	}
	.x-m-l-xxs-bplg {
		margin-left: 5px
	}
	.x-m-l-xs-bplg {
		margin-left: 10px
	}
	.x-m-l-sm-bplg {
		margin-left: 15px
	}
	.x-m-l-md-bplg {
		margin-left: 20px
	}
	.x-m-l-lg-bplg {
		margin-left: 40px
	}
	.x-m-l-xl-bplg {
		margin-left: 80px
	}
	.x-m-r-0-bplg {
		margin-right: 0
	}
	.x-m-r-xxs-bplg {
		margin-right: 5px
	}
	.x-m-r-xs-bplg {
		margin-right: 10px
	}
	.x-m-r-sm-bplg {
		margin-right: 15px
	}
	.x-m-r-md-bplg {
		margin-right: 20px
	}
	.x-m-r-lg-bplg {
		margin-right: 40px
	}
	.x-m-r-xl-bplg {
		margin-right: 80px
	}
	.x-p-t-0-bplg {
		padding-top: 0
	}
	.x-p-t-xxs-bplg {
		padding-top: 5px
	}
	.x-p-t-xs-bplg {
		padding-top: 10px
	}
	.x-p-t-sm-bplg {
		padding-top: 15px
	}
	.x-p-t-md-bplg {
		padding-top: 20px
	}
	.x-p-t-lg-bplg {
		padding-top: 40px
	}
	.x-p-t-xl-bplg {
		padding-top: 80px
	}
	.x-p-b-0-bplg {
		padding-bottom: 0
	}
	.x-p-b-xxs-bplg {
		padding-bottom: 5px
	}
	.x-p-b-xs-bplg {
		padding-bottom: 10px
	}
	.x-p-b-sm-bplg {
		padding-bottom: 15px
	}
	.x-p-b-md-bplg {
		padding-bottom: 20px
	}
	.x-p-b-lg-bplg {
		padding-bottom: 40px
	}
	.x-p-b-xl-bplg {
		padding-bottom: 80px
	}
	.x-p-l-0-bplg {
		padding-left: 0
	}
	.x-p-l-xxs-bplg {
		padding-left: 5px
	}
	.x-p-l-xs-bplg {
		padding-left: 10px
	}
	.x-p-l-sm-bplg {
		padding-left: 15px
	}
	.x-p-l-md-bplg {
		padding-left: 20px
	}
	.x-p-l-lg-bplg {
		padding-left: 40px
	}
	.x-p-l-xl-bplg {
		padding-left: 80px
	}
	.x-p-r-0-bplg {
		padding-right: 0
	}
	.x-p-r-xxs-bplg {
		padding-right: 5px
	}
	.x-p-r-xs-bplg {
		padding-right: 10px
	}
	.x-p-r-sm-bplg {
		padding-right: 15px
	}
	.x-p-r-md-bplg {
		padding-right: 20px
	}
	.x-p-r-lg-bplg {
		padding-right: 40px
	}
	.x-p-r-xl-bplg {
		padding-right: 80px
	}
	.x-f-alt-fam.x-f-lh-lg, .x-f-alt-fam.x-f-lh-sm, .x-f-alt-fam.x-f-lh-xl,
		.x-f-alt-fam.x-f-lh-xs, .x-f-pri-fam.x-f-lh-lg, .x-f-pri-fam.x-f-lh-sm,
		.x-f-pri-fam.x-f-lh-xl, .x-f-pri-fam.x-f-lh-xs {
		line-height: 1.25em
	}
	.x-f-alt-fam.x-f-lh-md, .x-f-pri-fam.x-f-lh-md {
		line-height: 1.5em
	}
	.x-f-alt-fam.x-f-lh-xxl, .x-f-pri-fam.x-f-lh-xxl {
		line-height: 1.125em
	}
	.x-f-alt-fam.x-f-lh-jumbo, .x-f-alt-fam.x-f-lh-xxxl, .x-f-pri-fam.x-f-lh-jumbo,
		.x-f-pri-fam.x-f-lh-xxxl {
		line-height: 1.05em
	}
}

@media ( max-width :767px) {
	.x-visible-xs {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important
	}
	.x-visible-xs-block {
		display: block !important
	}
	.x-visible-xs-inline {
		display: inline !important
	}
	.x-visible-xs-inline-block {
		display: inline-block !important
	}
	.x-hidden-xs {
		display: none !important
	}
}

@media ( min-width :768px) and (max-width:1023px) {
	.x-visible-sm {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important
	}
	.x-visible-sm-block {
		display: block !important
	}
	.x-visible-sm-inline {
		display: inline !important
	}
	.x-visible-sm-inline-block {
		display: inline-block !important
	}
	.x-hidden-sm {
		display: none !important
	}
}

@media ( min-width :1024px) and (max-width:1199px) {
	.x-visible-md {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important
	}
	.x-visible-md-block {
		display: block !important
	}
	.x-visible-md-inline {
		display: inline !important
	}
	.x-visible-md-inline-block {
		display: inline-block !important
	}
	.x-hidden-md {
		display: none !important
	}
}

.x-fonts-montserrat .x-f-pri-fam {
	font-family: Montserrat, sans-serif
}

.x-fonts-montserrat .x-f-pri-fam.x-f-wt-light, .x-fonts-montserrat .x-f-pri-fam.x-f-wt-lighter,
	.x-fonts-montserrat .x-f-pri-fam.x-f-wt-norm {
	font-weight: 400
}

.x-fonts-montserrat .x-f-pri-fam.x-f-wt-bold, .x-fonts-montserrat .x-f-pri-fam.x-f-wt-bolder
	{
	font-weight: 700
}

.x-fonts-montserrat .x-f-alt-fam {
	font-family: Roboto, arial, sans-serif
}

.x-fonts-montserrat .x-f-alt-fam.x-f-wt-lighter {
	font-weight: 100
}

.x-fonts-montserrat .x-f-alt-fam.x-f-wt-light {
	font-weight: 300
}

.x-fonts-montserrat .x-f-alt-fam.x-f-wt-norm {
	font-weight: 400
}

.x-fonts-montserrat .x-f-alt-fam.x-f-wt-bold {
	font-weight: 700
}

.x-fonts-montserrat .x-f-alt-fam.x-f-wt-bolder {
	font-weight: 900
}

.x-fonts-montserrat .x-f-pri-fam.x-f-sz-xs {
	font-size: 9px
}

.x-fonts-montserrat .x-f-pri-fam.x-f-sz-sm {
	font-size: 12px
}

.x-fonts-montserrat .x-f-pri-fam.x-f-sz-md {
	font-size: 16px
}

.x-fonts-montserrat .x-f-pri-fam.x-f-sz-lg {
	font-size: 20px
}

.x-fonts-montserrat .x-f-pri-fam.x-f-sz-xl {
	font-size: 25px
}

.x-fonts-montserrat .x-f-pri-fam.x-f-sz-xxl {
	font-size: 31px
}

.x-fonts-montserrat .x-f-pri-fam.x-f-sz-xxxl {
	font-size: 39px
}

.x-fonts-montserrat .x-f-pri-fam.x-f-sz-jumbo {
	font-size: 49px
}

.x-fonts-montserrat .x-f-alt-fam.x-f-sz-xs {
	font-size: 9px
}

.x-fonts-montserrat .x-f-alt-fam.x-f-sz-sm {
	font-size: 12px
}

.x-fonts-montserrat .x-f-alt-fam.x-f-sz-md {
	font-size: 16px
}

.x-fonts-montserrat .x-f-alt-fam.x-f-sz-lg {
	font-size: 20px
}

.x-fonts-montserrat .x-f-alt-fam.x-f-sz-xl {
	font-size: 25px
}

.x-fonts-montserrat .x-f-alt-fam.x-f-sz-xxl {
	font-size: 31px
}

.x-fonts-montserrat .x-f-alt-fam.x-f-sz-xxxl {
	font-size: 39px
}

.x-fonts-montserrat .x-f-alt-fam.x-f-sz-jumbo {
	font-size: 49px
}

@media ( min-width :1024px) {
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-xs {
		font-size: 10px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-sm {
		font-size: 13px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-md {
		font-size: 16px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-lg {
		font-size: 21px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-xl {
		font-size: 28px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-xxl {
		font-size: 37px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-xxxl {
		font-size: 49px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-jumbo {
		font-size: 65px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-xs {
		font-size: 10px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-sm {
		font-size: 13px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-md {
		font-size: 16px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-lg {
		font-size: 21px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-xl {
		font-size: 28px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-xxl {
		font-size: 37px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-xxxl {
		font-size: 49px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-jumbo {
		font-size: 65px
	}
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-xs,
	.x-fonts-montserrat.x.x-force-md .x-f-pri-fam.x-f-sz-xs {
	font-size: 10px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-sm,
	.x-fonts-montserrat.x.x-force-md .x-f-pri-fam.x-f-sz-sm {
	font-size: 13px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-md,
	.x-fonts-montserrat.x.x-force-md .x-f-pri-fam.x-f-sz-md {
	font-size: 16px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-lg,
	.x-fonts-montserrat.x.x-force-md .x-f-pri-fam.x-f-sz-lg {
	font-size: 21px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-xl,
	.x-fonts-montserrat.x.x-force-md .x-f-pri-fam.x-f-sz-xl {
	font-size: 28px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-xxl,
	.x-fonts-montserrat.x.x-force-md .x-f-pri-fam.x-f-sz-xxl {
	font-size: 37px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-xxxl,
	.x-fonts-montserrat.x.x-force-md .x-f-pri-fam.x-f-sz-xxxl {
	font-size: 49px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-jumbo,
	.x-fonts-montserrat.x.x-force-md .x-f-pri-fam.x-f-sz-jumbo {
	font-size: 65px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-xs,
	.x-fonts-montserrat.x.x-force-md .x-f-alt-fam.x-f-sz-xs {
	font-size: 10px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-sm,
	.x-fonts-montserrat.x.x-force-md .x-f-alt-fam.x-f-sz-sm {
	font-size: 13px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-md,
	.x-fonts-montserrat.x.x-force-md .x-f-alt-fam.x-f-sz-md {
	font-size: 16px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-lg,
	.x-fonts-montserrat.x.x-force-md .x-f-alt-fam.x-f-sz-lg {
	font-size: 21px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-xl,
	.x-fonts-montserrat.x.x-force-md .x-f-alt-fam.x-f-sz-xl {
	font-size: 28px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-xxl,
	.x-fonts-montserrat.x.x-force-md .x-f-alt-fam.x-f-sz-xxl {
	font-size: 37px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-xxxl,
	.x-fonts-montserrat.x.x-force-md .x-f-alt-fam.x-f-sz-xxxl {
	font-size: 49px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-jumbo,
	.x-fonts-montserrat.x.x-force-md .x-f-alt-fam.x-f-sz-jumbo {
	font-size: 65px
}

@media ( min-width :1200px) {
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-xs {
		font-size: 12px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-sm {
		font-size: 14px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-md {
		font-size: 16px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-lg {
		font-size: 23px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-xl {
		font-size: 32px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-xxl {
		font-size: 45px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-xxxl {
		font-size: 63px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-pri-fam.x-f-sz-jumbo {
		font-size: 89px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-xs {
		font-size: 12px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-sm {
		font-size: 14px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-md {
		font-size: 16px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-lg {
		font-size: 23px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-xl {
		font-size: 32px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-xxl {
		font-size: 45px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-xxxl {
		font-size: 63px
	}
	.x-fonts-montserrat.x:not (.x-forced ) .x-f-alt-fam.x-f-sz-jumbo {
		font-size: 89px
	}
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-xs {
	font-size: 12px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-sm {
	font-size: 14px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-md {
	font-size: 16px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-lg {
	font-size: 23px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-xl {
	font-size: 32px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-xxl {
	font-size: 45px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-xxxl {
	font-size: 63px
}

.x-fonts-montserrat.x.x-force-lg .x-f-pri-fam.x-f-sz-jumbo {
	font-size: 89px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-xs {
	font-size: 12px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-sm {
	font-size: 14px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-md {
	font-size: 16px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-lg {
	font-size: 23px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-xl {
	font-size: 32px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-xxl {
	font-size: 45px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-xxxl {
	font-size: 63px
}

.x-fonts-montserrat.x.x-force-lg .x-f-alt-fam.x-f-sz-jumbo {
	font-size: 89px
}

.x-fonts-montserrat .x-f-pri-fam.x-el-h1, .x-fonts-montserrat .x-f-pri-fam.x-el-h2,
	.x-fonts-montserrat .x-f-pri-fam.x-el-h3, .x-fonts-montserrat .x-f-pri-fam.x-el-h4,
	.x-fonts-montserrat .x-f-pri-fam.x-el-h6 {
	font-weight: 700
}

.x-fonts-montserrat .x-f-pri-fam.x-el-h5, .x-fonts-montserrat .x-f-pri-fam.x-el-p
	{
	font-weight: 400
}

.x-fonts-montserrat .lang-en .x-f-pri-fam.x-el-h6 {
	text-transform: uppercase
}

.x-fonts-montserrat .x-f-alt-fam.x-el-h1, .x-fonts-montserrat .x-f-alt-fam.x-el-h2,
	.x-fonts-montserrat .x-f-alt-fam.x-el-h3, .x-fonts-montserrat .x-f-alt-fam.x-el-h4,
	.x-fonts-montserrat .x-f-alt-fam.x-el-h5, .x-fonts-montserrat .x-f-alt-fam.x-el-h6
	{
	font-weight: 300
}

.x-fonts-montserrat .x-f-alt-fam.x-el-p {
	font-weight: 400
}

.x-fonts-montserrat .lang-en .x-f-alt-fam.x-el-h6 {
	text-transform: uppercase
}

.x-colors-005 .x-pri-def.x-c-bg {
	background-color: #d22f25
}

.x-colors-005 .x-pri-def.x-c-bg-ovr {
	background-color: rgba(210, 47, 37, .9)
}

.x-colors-005 .x-pri-def.x-c-brdr {
	border-color: #f54a43
}

.x-colors-005 .x-pri-def.x-c-text {
	color: #fff
}

.x-colors-005 .x-pri-def.x-c-text-bg {
	color: #d22f25
}

.x-colors-005 .x-pri-def.x-c-text-hc {
	color: #fff
}

.x-colors-005 .x-pri-def.x-c-text-lc {
	color: #f6f6f6
}

.x-colors-005 .x-pri-def.x-c-text-err {
	color: #ffcece
}

.x-colors-005 .x-pri-def.x-c-text-hl, .x-colors-005 .x-pri-def.x-c-text-hl.x-active
	{
	color: #fff
}

.x-colors-005 .x-pri-def.x-c-text-hl.x-disabled {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-def.x-c-text-hl-hover:focus, .x-colors-005 .x-pri-def.x-c-text-hl-hover:hover
	{
	color: #fff
}

.x-colors-005 .x-pri-def.x-c-act-bg {
	background-color: #fff
}

.x-colors-005 .x-pri-def.x-c-act-bg-active {
	background-color: #e2e2e2
}

.x-colors-005 .x-pri-def.x-c-act-bg-disabled {
	background-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-def.x-c-act-bg-hover:focus, .x-colors-005 .x-pri-def.x-c-act-bg-hover:hover
	{
	background-color: #fff
}

.x-colors-005 .x-pri-def.x-c-act-brdr {
	border-color: #fff
}

.x-colors-005 .x-pri-def.x-c-act-brdr-active {
	border-color: #e2e2e2
}

.x-colors-005 .x-pri-def.x-c-act-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-def.x-c-act-brdr-hover:focus, .x-colors-005 .x-pri-def.x-c-act-brdr-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-pri-def.x-c-act-text {
	color: #303030
}

.x-colors-005 .x-pri-def.x-c-act-text-active {
	border-color: #303030
}

.x-colors-005 .x-pri-def.x-c-act-text-disabled {
	border-color: rgba(48, 48, 48, .7)
}

.x-colors-005 .x-pri-def.x-c-act-text-hover:focus, .x-colors-005 .x-pri-def.x-c-act-text-hover:hover
	{
	border-color: #303030
}

.x-colors-005 .x-pri-def.x-c-inp-bg {
	background-color: rgba(210, 47, 37, 0)
}

.x-colors-005 .x-pri-def.x-c-inp-bg-disabled {
	background-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-pri-def.x-c-inp-brdr {
	border-color: #fff
}

.x-colors-005 .x-pri-def.x-c-inp-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-def.x-c-inp-brdr-err {
	border-color: #ff7979
}

.x-colors-005 .x-pri-def.x-c-inp-ph::-webkit-input-placeholder {
	color: #e2d7d7
}

.x-colors-005 .x-pri-def.x-c-inp-ph:-ms-input-placeholder {
	color: #e2d7d7
}

.x-colors-005 .x-pri-def.x-c-inp-ph::placeholder {
	color: #e2d7d7
}

.x-colors-005 .x-pri-def.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-def.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-def.x-c-inp-ph-disabled::placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-def.x-c-inp-text {
	color: #fff
}

.x-colors-005 .x-pri-def.x-c-inp-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-alt.x-c-bg {
	background-color: #bc2920
}

.x-colors-005 .x-pri-alt.x-c-bg-ovr {
	background-color: rgba(188, 41, 32, .9)
}

.x-colors-005 .x-pri-alt.x-c-brdr {
	border-color: #e9352a
}

.x-colors-005 .x-pri-alt.x-c-text {
	color: #fff
}

.x-colors-005 .x-pri-alt.x-c-text-bg {
	color: #bc2920
}

.x-colors-005 .x-pri-alt.x-c-text-hc {
	color: #fff
}

.x-colors-005 .x-pri-alt.x-c-text-lc {
	color: #ebe7e7
}

.x-colors-005 .x-pri-alt.x-c-text-err {
	color: #ffbaba
}

.x-colors-005 .x-pri-alt.x-c-text-hl, .x-colors-005 .x-pri-alt.x-c-text-hl.x-active
	{
	color: #fff
}

.x-colors-005 .x-pri-alt.x-c-text-hl.x-disabled {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-alt.x-c-text-hl-hover:focus, .x-colors-005 .x-pri-alt.x-c-text-hl-hover:hover
	{
	color: #fff
}

.x-colors-005 .x-pri-alt.x-c-act-bg {
	background-color: #fff
}

.x-colors-005 .x-pri-alt.x-c-act-bg-active {
	background-color: #e2e2e2
}

.x-colors-005 .x-pri-alt.x-c-act-bg-disabled {
	background-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-alt.x-c-act-bg-hover:focus, .x-colors-005 .x-pri-alt.x-c-act-bg-hover:hover
	{
	background-color: #fff
}

.x-colors-005 .x-pri-alt.x-c-act-brdr {
	border-color: #fff
}

.x-colors-005 .x-pri-alt.x-c-act-brdr-active {
	border-color: #e2e2e2
}

.x-colors-005 .x-pri-alt.x-c-act-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-alt.x-c-act-brdr-hover:focus, .x-colors-005 .x-pri-alt.x-c-act-brdr-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-pri-alt.x-c-act-text {
	color: #303030
}

.x-colors-005 .x-pri-alt.x-c-act-text-active {
	border-color: #303030
}

.x-colors-005 .x-pri-alt.x-c-act-text-disabled {
	border-color: rgba(48, 48, 48, .7)
}

.x-colors-005 .x-pri-alt.x-c-act-text-hover:focus, .x-colors-005 .x-pri-alt.x-c-act-text-hover:hover
	{
	border-color: #303030
}

.x-colors-005 .x-pri-alt.x-c-inp-bg {
	background-color: rgba(188, 41, 32, 0)
}

.x-colors-005 .x-pri-alt.x-c-inp-bg-disabled {
	background-color: rgba(188, 41, 32, .7)
}

.x-colors-005 .x-pri-alt.x-c-inp-brdr {
	border-color: #fff
}

.x-colors-005 .x-pri-alt.x-c-inp-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-alt.x-c-inp-brdr-err {
	border-color: #ff5e5e
}

.x-colors-005 .x-pri-alt.x-c-inp-ph::-webkit-input-placeholder {
	color: #dbc7c6
}

.x-colors-005 .x-pri-alt.x-c-inp-ph:-ms-input-placeholder {
	color: #dbc7c6
}

.x-colors-005 .x-pri-alt.x-c-inp-ph::placeholder {
	color: #dbc7c6
}

.x-colors-005 .x-pri-alt.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-alt.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-alt.x-c-inp-ph-disabled::placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-alt.x-c-inp-text {
	color: #fff
}

.x-colors-005 .x-pri-alt.x-c-inp-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-ovr.x-c-bg {
	background-color: rgba(111, 20, 14, .5)
}

.x-colors-005 .x-pri-ovr.x-c-bg-ovr {
	background-color: rgba(111, 20, 14, .3)
}

.x-colors-005 .x-pri-ovr.x-c-brdr {
	border-color: hsla(0, 0%, 100%, .3)
}

.x-colors-005 .x-pri-ovr.x-c-text {
	color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-text-bg {
	color: rgba(111, 20, 14, .5)
}

.x-colors-005 .x-pri-ovr.x-c-text-err, .x-colors-005 .x-pri-ovr.x-c-text-hc,
	.x-colors-005 .x-pri-ovr.x-c-text-hl, .x-colors-005 .x-pri-ovr.x-c-text-hl.x-active,
	.x-colors-005 .x-pri-ovr.x-c-text-lc {
	color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-text-hl.x-disabled {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-ovr.x-c-text-hl-hover:focus, .x-colors-005 .x-pri-ovr.x-c-text-hl-hover:hover
	{
	color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-act-bg {
	background-color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-act-bg-active {
	background-color: #e2e2e2
}

.x-colors-005 .x-pri-ovr.x-c-act-bg-disabled {
	background-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-ovr.x-c-act-bg-hover:focus, .x-colors-005 .x-pri-ovr.x-c-act-bg-hover:hover
	{
	background-color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-act-brdr {
	border-color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-act-brdr-active {
	border-color: #e2e2e2
}

.x-colors-005 .x-pri-ovr.x-c-act-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-ovr.x-c-act-brdr-hover:focus, .x-colors-005 .x-pri-ovr.x-c-act-brdr-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-act-text {
	color: #000
}

.x-colors-005 .x-pri-ovr.x-c-act-text-active {
	border-color: #000
}

.x-colors-005 .x-pri-ovr.x-c-act-text-disabled {
	border-color: rgba(0, 0, 0, .7)
}

.x-colors-005 .x-pri-ovr.x-c-act-text-hover:focus, .x-colors-005 .x-pri-ovr.x-c-act-text-hover:hover
	{
	border-color: #000
}

.x-colors-005 .x-pri-ovr.x-c-inp-bg {
	background-color: rgba(111, 20, 14, 0)
}

.x-colors-005 .x-pri-ovr.x-c-inp-bg-disabled {
	background-color: rgba(111, 20, 14, .7)
}

.x-colors-005 .x-pri-ovr.x-c-inp-brdr {
	border-color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-inp-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-ovr.x-c-inp-brdr-err {
	border-color: #ff6868
}

.x-colors-005 .x-pri-ovr.x-c-inp-ph::-webkit-input-placeholder {
	color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-inp-ph:-ms-input-placeholder {
	color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-inp-ph::placeholder {
	color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-ovr.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-ovr.x-c-inp-ph-disabled::placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-pri-ovr.x-c-inp-text {
	color: #fff
}

.x-colors-005 .x-pri-ovr.x-c-inp-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-def.x-c-bg {
	background-color: #111
}

.x-colors-005 .x-acnt-def.x-c-bg-ovr {
	background-color: hsla(0, 0%, 7%, .9)
}

.x-colors-005 .x-acnt-def.x-c-brdr {
	border-color: #262626
}

.x-colors-005 .x-acnt-def.x-c-text {
	color: #9e9e9e
}

.x-colors-005 .x-acnt-def.x-c-text-bg {
	color: #111
}

.x-colors-005 .x-acnt-def.x-c-text-hc {
	color: #f1f1f1
}

.x-colors-005 .x-acnt-def.x-c-text-lc {
	color: #848484
}

.x-colors-005 .x-acnt-def.x-c-text-err {
	color: red
}

.x-colors-005 .x-acnt-def.x-c-text-hl {
	color: #f53e33
}

.x-colors-005 .x-acnt-def.x-c-text-hl.x-active {
	color: #f67874
}

.x-colors-005 .x-acnt-def.x-c-text-hl.x-disabled {
	color: rgba(245, 62, 51, .7)
}

.x-colors-005 .x-acnt-def.x-c-text-hl-hover:focus, .x-colors-005 .x-acnt-def.x-c-text-hl-hover:hover
	{
	color: #f55e59
}

.x-colors-005 .x-acnt-def.x-c-act-bg {
	background-color: #d22f25
}

.x-colors-005 .x-acnt-def.x-c-act-bg-active {
	background-color: #a6231b
}

.x-colors-005 .x-acnt-def.x-c-act-bg-disabled {
	background-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-acnt-def.x-c-act-bg-hover:focus, .x-colors-005 .x-acnt-def.x-c-act-bg-hover:hover
	{
	background-color: #e9352a
}

.x-colors-005 .x-acnt-def.x-c-act-brdr {
	border-color: #d22f25
}

.x-colors-005 .x-acnt-def.x-c-act-brdr-active {
	border-color: #a6231b
}

.x-colors-005 .x-acnt-def.x-c-act-brdr-disabled {
	border-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-acnt-def.x-c-act-brdr-hover:focus, .x-colors-005 .x-acnt-def.x-c-act-brdr-hover:hover
	{
	border-color: #e9352a
}

.x-colors-005 .x-acnt-def.x-c-act-text {
	color: #fff
}

.x-colors-005 .x-acnt-def.x-c-act-text-active {
	border-color: #fff
}

.x-colors-005 .x-acnt-def.x-c-act-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-def.x-c-act-text-hover:focus, .x-colors-005 .x-acnt-def.x-c-act-text-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-acnt-def.x-c-inp-bg {
	background-color: hsla(0, 0%, 7%, 0)
}

.x-colors-005 .x-acnt-def.x-c-inp-bg-disabled {
	background-color: hsla(0, 0%, 7%, .7)
}

.x-colors-005 .x-acnt-def.x-c-inp-brdr {
	border-color: #fff
}

.x-colors-005 .x-acnt-def.x-c-inp-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-def.x-c-inp-brdr-err {
	border-color: red
}

.x-colors-005 .x-acnt-def.x-c-inp-ph::-webkit-input-placeholder {
	color: #6b6b6b
}

.x-colors-005 .x-acnt-def.x-c-inp-ph:-ms-input-placeholder {
	color: #6b6b6b
}

.x-colors-005 .x-acnt-def.x-c-inp-ph::placeholder {
	color: #6b6b6b
}

.x-colors-005 .x-acnt-def.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: hsla(0, 0%, 73%, .7)
}

.x-colors-005 .x-acnt-def.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: hsla(0, 0%, 73%, .7)
}

.x-colors-005 .x-acnt-def.x-c-inp-ph-disabled::placeholder {
	color: hsla(0, 0%, 73%, .7)
}

.x-colors-005 .x-acnt-def.x-c-inp-text {
	color: #b9b9b9
}

.x-colors-005 .x-acnt-def.x-c-inp-text-disabled {
	border-color: hsla(0, 0%, 73%, .7)
}

.x-colors-005 .x-acnt-alt.x-c-bg {
	background-color: #000
}

.x-colors-005 .x-acnt-alt.x-c-bg-ovr {
	background-color: rgba(0, 0, 0, .9)
}

.x-colors-005 .x-acnt-alt.x-c-brdr {
	border-color: #1c1c1c
}

.x-colors-005 .x-acnt-alt.x-c-text {
	color: #919191
}

.x-colors-005 .x-acnt-alt.x-c-text-bg {
	color: #000
}

.x-colors-005 .x-acnt-alt.x-c-text-hc {
	color: #e3e3e3
}

.x-colors-005 .x-acnt-alt.x-c-text-lc {
	color: #777
}

.x-colors-005 .x-acnt-alt.x-c-text-err {
	color: red
}

.x-colors-005 .x-acnt-alt.x-c-text-hl {
	color: #e13328
}

.x-colors-005 .x-acnt-alt.x-c-text-hl.x-active {
	color: #f55e59
}

.x-colors-005 .x-acnt-alt.x-c-text-hl.x-disabled {
	color: rgba(225, 51, 40, .7)
}

.x-colors-005 .x-acnt-alt.x-c-text-hl-hover:focus, .x-colors-005 .x-acnt-alt.x-c-text-hl-hover:hover
	{
	color: #f53e33
}

.x-colors-005 .x-acnt-alt.x-c-act-bg {
	background-color: #d22f25
}

.x-colors-005 .x-acnt-alt.x-c-act-bg-active {
	background-color: #a6231b
}

.x-colors-005 .x-acnt-alt.x-c-act-bg-disabled {
	background-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-acnt-alt.x-c-act-bg-hover:focus, .x-colors-005 .x-acnt-alt.x-c-act-bg-hover:hover
	{
	background-color: #e9352a
}

.x-colors-005 .x-acnt-alt.x-c-act-brdr {
	border-color: #d22f25
}

.x-colors-005 .x-acnt-alt.x-c-act-brdr-active {
	border-color: #a6231b
}

.x-colors-005 .x-acnt-alt.x-c-act-brdr-disabled {
	border-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-acnt-alt.x-c-act-brdr-hover:focus, .x-colors-005 .x-acnt-alt.x-c-act-brdr-hover:hover
	{
	border-color: #e9352a
}

.x-colors-005 .x-acnt-alt.x-c-act-text {
	color: #fff
}

.x-colors-005 .x-acnt-alt.x-c-act-text-active {
	border-color: #fff
}

.x-colors-005 .x-acnt-alt.x-c-act-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-alt.x-c-act-text-hover:focus, .x-colors-005 .x-acnt-alt.x-c-act-text-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-acnt-alt.x-c-inp-bg {
	background-color: transparent
}

.x-colors-005 .x-acnt-alt.x-c-inp-bg-disabled {
	background-color: rgba(0, 0, 0, .7)
}

.x-colors-005 .x-acnt-alt.x-c-inp-brdr {
	border-color: #fff
}

.x-colors-005 .x-acnt-alt.x-c-inp-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-alt.x-c-inp-brdr-err {
	border-color: red
}

.x-colors-005 .x-acnt-alt.x-c-inp-ph::-webkit-input-placeholder {
	color: #5e5e5e
}

.x-colors-005 .x-acnt-alt.x-c-inp-ph:-ms-input-placeholder {
	color: #5e5e5e
}

.x-colors-005 .x-acnt-alt.x-c-inp-ph::placeholder {
	color: #5e5e5e
}

.x-colors-005 .x-acnt-alt.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: hsla(0, 0%, 67%, .7)
}

.x-colors-005 .x-acnt-alt.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: hsla(0, 0%, 67%, .7)
}

.x-colors-005 .x-acnt-alt.x-c-inp-ph-disabled::placeholder {
	color: hsla(0, 0%, 67%, .7)
}

.x-colors-005 .x-acnt-alt.x-c-inp-text {
	color: #ababab
}

.x-colors-005 .x-acnt-alt.x-c-inp-text-disabled {
	border-color: hsla(0, 0%, 67%, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-bg {
	background-color: hsla(0, 0%, 7%, .5)
}

.x-colors-005 .x-acnt-ovr.x-c-bg-ovr {
	background-color: hsla(0, 0%, 7%, .3)
}

.x-colors-005 .x-acnt-ovr.x-c-brdr {
	border-color: hsla(0, 0%, 100%, .3)
}

.x-colors-005 .x-acnt-ovr.x-c-text {
	color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-text-bg {
	color: hsla(0, 0%, 7%, .5)
}

.x-colors-005 .x-acnt-ovr.x-c-text-hc, .x-colors-005 .x-acnt-ovr.x-c-text-lc
	{
	color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-text-err {
	color: #ffc7c7
}

.x-colors-005 .x-acnt-ovr.x-c-text-hl, .x-colors-005 .x-acnt-ovr.x-c-text-hl.x-active
	{
	color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-text-hl.x-disabled {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-text-hl-hover:focus, .x-colors-005 .x-acnt-ovr.x-c-text-hl-hover:hover
	{
	color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-act-bg {
	background-color: #d22f25
}

.x-colors-005 .x-acnt-ovr.x-c-act-bg-active {
	background-color: #a6231b
}

.x-colors-005 .x-acnt-ovr.x-c-act-bg-disabled {
	background-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-act-bg-hover:focus, .x-colors-005 .x-acnt-ovr.x-c-act-bg-hover:hover
	{
	background-color: #e9352a
}

.x-colors-005 .x-acnt-ovr.x-c-act-brdr {
	border-color: #d22f25
}

.x-colors-005 .x-acnt-ovr.x-c-act-brdr-active {
	border-color: #a6231b
}

.x-colors-005 .x-acnt-ovr.x-c-act-brdr-disabled {
	border-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-act-brdr-hover:focus, .x-colors-005 .x-acnt-ovr.x-c-act-brdr-hover:hover
	{
	border-color: #e9352a
}

.x-colors-005 .x-acnt-ovr.x-c-act-text {
	color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-act-text-active {
	border-color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-act-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-act-text-hover:focus, .x-colors-005 .x-acnt-ovr.x-c-act-text-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-inp-bg {
	background-color: hsla(0, 0%, 7%, 0)
}

.x-colors-005 .x-acnt-ovr.x-c-inp-bg-disabled {
	background-color: hsla(0, 0%, 7%, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-inp-brdr {
	border-color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-inp-brdr-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-inp-brdr-err {
	border-color: red
}

.x-colors-005 .x-acnt-ovr.x-c-inp-ph::-webkit-input-placeholder {
	color: #d4d4d4
}

.x-colors-005 .x-acnt-ovr.x-c-inp-ph:-ms-input-placeholder {
	color: #d4d4d4
}

.x-colors-005 .x-acnt-ovr.x-c-inp-ph::placeholder {
	color: #d4d4d4
}

.x-colors-005 .x-acnt-ovr.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-inp-ph-disabled::placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-acnt-ovr.x-c-inp-text {
	color: #fff
}

.x-colors-005 .x-acnt-ovr.x-c-inp-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-ntrl-def.x-c-bg {
	background-color: #fff
}

.x-colors-005 .x-ntrl-def.x-c-bg-ovr {
	background-color: hsla(0, 0%, 100%, .9)
}

.x-colors-005 .x-ntrl-def.x-c-brdr {
	border-color: #e2e2e2
}

.x-colors-005 .x-ntrl-def.x-c-text {
	color: #5e5e5e
}

.x-colors-005 .x-ntrl-def.x-c-text-bg {
	color: #fff
}

.x-colors-005 .x-ntrl-def.x-c-text-hc {
	color: #1b1b1b
}

.x-colors-005 .x-ntrl-def.x-c-text-lc {
	color: #777
}

.x-colors-005 .x-ntrl-def.x-c-text-err {
	color: red
}

.x-colors-005 .x-ntrl-def.x-c-text-hl {
	color: #d22f25
}

.x-colors-005 .x-ntrl-def.x-c-text-hl.x-active {
	color: #b4271e
}

.x-colors-005 .x-ntrl-def.x-c-text-hl.x-disabled {
	color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-ntrl-def.x-c-text-hl-hover:focus, .x-colors-005 .x-ntrl-def.x-c-text-hl-hover:hover
	{
	color: #ca2d23
}

.x-colors-005 .x-ntrl-def.x-c-act-bg {
	background-color: #d22f25
}

.x-colors-005 .x-ntrl-def.x-c-act-bg-active {
	background-color: #a6231b
}

.x-colors-005 .x-ntrl-def.x-c-act-bg-disabled {
	background-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-ntrl-def.x-c-act-bg-hover:focus, .x-colors-005 .x-ntrl-def.x-c-act-bg-hover:hover
	{
	background-color: #e9352a
}

.x-colors-005 .x-ntrl-def.x-c-act-brdr {
	border-color: #d22f25
}

.x-colors-005 .x-ntrl-def.x-c-act-brdr-active {
	border-color: #a6231b
}

.x-colors-005 .x-ntrl-def.x-c-act-brdr-disabled {
	border-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-ntrl-def.x-c-act-brdr-hover:focus, .x-colors-005 .x-ntrl-def.x-c-act-brdr-hover:hover
	{
	border-color: #e9352a
}

.x-colors-005 .x-ntrl-def.x-c-act-text {
	color: #fff
}

.x-colors-005 .x-ntrl-def.x-c-act-text-active {
	border-color: #fff
}

.x-colors-005 .x-ntrl-def.x-c-act-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-ntrl-def.x-c-act-text-hover:focus, .x-colors-005 .x-ntrl-def.x-c-act-text-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-ntrl-def.x-c-inp-bg {
	background-color: #fff
}

.x-colors-005 .x-ntrl-def.x-c-inp-bg-disabled {
	background-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-ntrl-def.x-c-inp-brdr {
	border-color: #e2e2e2
}

.x-colors-005 .x-ntrl-def.x-c-inp-brdr-disabled {
	border-color: hsla(0, 0%, 89%, .7)
}

.x-colors-005 .x-ntrl-def.x-c-inp-brdr-err {
	border-color: red
}

.x-colors-005 .x-ntrl-def.x-c-inp-ph::-webkit-input-placeholder {
	color: #919191
}

.x-colors-005 .x-ntrl-def.x-c-inp-ph:-ms-input-placeholder {
	color: #919191
}

.x-colors-005 .x-ntrl-def.x-c-inp-ph::placeholder {
	color: #919191
}

.x-colors-005 .x-ntrl-def.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: rgba(71, 71, 71, .7)
}

.x-colors-005 .x-ntrl-def.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: rgba(71, 71, 71, .7)
}

.x-colors-005 .x-ntrl-def.x-c-inp-ph-disabled::placeholder {
	color: rgba(71, 71, 71, .7)
}

.x-colors-005 .x-ntrl-def.x-c-inp-text {
	color: #474747
}

.x-colors-005 .x-ntrl-def.x-c-inp-text-disabled {
	border-color: rgba(71, 71, 71, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-bg {
	background-color: #f6f6f6
}

.x-colors-005 .x-ntrl-alt.x-c-bg-ovr {
	background-color: hsla(0, 0%, 96%, .9)
}

.x-colors-005 .x-ntrl-alt.x-c-brdr {
	border-color: #dadada
}

.x-colors-005 .x-ntrl-alt.x-c-text {
	color: #575757
}

.x-colors-005 .x-ntrl-alt.x-c-text-bg {
	color: #f6f6f6
}

.x-colors-005 .x-ntrl-alt.x-c-text-hc {
	color: #151515
}

.x-colors-005 .x-ntrl-alt.x-c-text-lc {
	color: #6f6f6f
}

.x-colors-005 .x-ntrl-alt.x-c-text-err {
	color: red
}

.x-colors-005 .x-ntrl-alt.x-c-text-hl {
	color: #d22f25
}

.x-colors-005 .x-ntrl-alt.x-c-text-hl.x-active {
	color: #a7231b
}

.x-colors-005 .x-ntrl-alt.x-c-text-hl.x-disabled {
	color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-text-hl-hover:focus, .x-colors-005 .x-ntrl-alt.x-c-text-hl-hover:hover
	{
	color: #bd2920
}

.x-colors-005 .x-ntrl-alt.x-c-act-bg {
	background-color: #d22f25
}

.x-colors-005 .x-ntrl-alt.x-c-act-bg-active {
	background-color: #a6231b
}

.x-colors-005 .x-ntrl-alt.x-c-act-bg-disabled {
	background-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-act-bg-hover:focus, .x-colors-005 .x-ntrl-alt.x-c-act-bg-hover:hover
	{
	background-color: #e9352a
}

.x-colors-005 .x-ntrl-alt.x-c-act-brdr {
	border-color: #d22f25
}

.x-colors-005 .x-ntrl-alt.x-c-act-brdr-active {
	border-color: #a6231b
}

.x-colors-005 .x-ntrl-alt.x-c-act-brdr-disabled {
	border-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-act-brdr-hover:focus, .x-colors-005 .x-ntrl-alt.x-c-act-brdr-hover:hover
	{
	border-color: #e9352a
}

.x-colors-005 .x-ntrl-alt.x-c-act-text {
	color: #fff
}

.x-colors-005 .x-ntrl-alt.x-c-act-text-active {
	border-color: #fff
}

.x-colors-005 .x-ntrl-alt.x-c-act-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-act-text-hover:focus, .x-colors-005 .x-ntrl-alt.x-c-act-text-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-ntrl-alt.x-c-inp-bg {
	background-color: #fff
}

.x-colors-005 .x-ntrl-alt.x-c-inp-bg-disabled {
	background-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-inp-brdr {
	border-color: #dadada
}

.x-colors-005 .x-ntrl-alt.x-c-inp-brdr-disabled {
	border-color: hsla(0, 0%, 85%, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-inp-brdr-err {
	border-color: red
}

.x-colors-005 .x-ntrl-alt.x-c-inp-ph::-webkit-input-placeholder {
	color: #919191
}

.x-colors-005 .x-ntrl-alt.x-c-inp-ph:-ms-input-placeholder {
	color: #919191
}

.x-colors-005 .x-ntrl-alt.x-c-inp-ph::placeholder {
	color: #919191
}

.x-colors-005 .x-ntrl-alt.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: rgba(71, 71, 71, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: rgba(71, 71, 71, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-inp-ph-disabled::placeholder {
	color: rgba(71, 71, 71, .7)
}

.x-colors-005 .x-ntrl-alt.x-c-inp-text {
	color: #474747
}

.x-colors-005 .x-ntrl-alt.x-c-inp-text-disabled {
	border-color: rgba(71, 71, 71, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-bg {
	background-color: hsla(0, 0%, 100%, .5)
}

.x-colors-005 .x-ntrl-ovr.x-c-bg-ovr {
	background-color: hsla(0, 0%, 100%, .3)
}

.x-colors-005 .x-ntrl-ovr.x-c-brdr {
	border-color: rgba(0, 0, 0, .3)
}

.x-colors-005 .x-ntrl-ovr.x-c-text {
	color: #000
}

.x-colors-005 .x-ntrl-ovr.x-c-text-bg {
	color: hsla(0, 0%, 100%, .5)
}

.x-colors-005 .x-ntrl-ovr.x-c-text-hc, .x-colors-005 .x-ntrl-ovr.x-c-text-lc
	{
	color: #000
}

.x-colors-005 .x-ntrl-ovr.x-c-text-err {
	color: #690000
}

.x-colors-005 .x-ntrl-ovr.x-c-text-hl, .x-colors-005 .x-ntrl-ovr.x-c-text-hl.x-active
	{
	color: #000
}

.x-colors-005 .x-ntrl-ovr.x-c-text-hl.x-disabled {
	color: rgba(0, 0, 0, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-text-hl-hover:focus, .x-colors-005 .x-ntrl-ovr.x-c-text-hl-hover:hover
	{
	color: #000
}

.x-colors-005 .x-ntrl-ovr.x-c-act-bg {
	background-color: #d22f25
}

.x-colors-005 .x-ntrl-ovr.x-c-act-bg-active {
	background-color: #a6231b
}

.x-colors-005 .x-ntrl-ovr.x-c-act-bg-disabled {
	background-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-act-bg-hover:focus, .x-colors-005 .x-ntrl-ovr.x-c-act-bg-hover:hover
	{
	background-color: #e9352a
}

.x-colors-005 .x-ntrl-ovr.x-c-act-brdr {
	border-color: #d22f25
}

.x-colors-005 .x-ntrl-ovr.x-c-act-brdr-active {
	border-color: #a6231b
}

.x-colors-005 .x-ntrl-ovr.x-c-act-brdr-disabled {
	border-color: rgba(210, 47, 37, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-act-brdr-hover:focus, .x-colors-005 .x-ntrl-ovr.x-c-act-brdr-hover:hover
	{
	border-color: #e9352a
}

.x-colors-005 .x-ntrl-ovr.x-c-act-text {
	color: #fff
}

.x-colors-005 .x-ntrl-ovr.x-c-act-text-active {
	border-color: #fff
}

.x-colors-005 .x-ntrl-ovr.x-c-act-text-disabled {
	border-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-act-text-hover:focus, .x-colors-005 .x-ntrl-ovr.x-c-act-text-hover:hover
	{
	border-color: #fff
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-bg {
	background-color: hsla(0, 0%, 100%, 0)
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-bg-disabled {
	background-color: hsla(0, 0%, 100%, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-brdr {
	border-color: #000
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-brdr-disabled {
	border-color: rgba(0, 0, 0, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-brdr-err {
	border-color: red
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-ph::-webkit-input-placeholder {
	color: #303030
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-ph:-ms-input-placeholder {
	color: #303030
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-ph::placeholder {
	color: #303030
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-ph-disabled::-webkit-input-placeholder
	{
	color: rgba(0, 0, 0, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-ph-disabled:-ms-input-placeholder {
	color: rgba(0, 0, 0, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-ph-disabled::placeholder {
	color: rgba(0, 0, 0, .7)
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-text {
	color: #000
}

.x-colors-005 .x-ntrl-ovr.x-c-inp-text-disabled {
	border-color: rgba(0, 0, 0, .7)
}

.x
.px_-pt-15px {
	padding-top: 15px
}

.x .px_-pb-15px {
	padding-bottom: 15px
}

.x .px_-pl-40px {
	padding-left: 40px
}

.x .px_-pr-40px {
	padding-right: 40px
}

.x .px_-border-style-none {
	border-style: none
}

.x .px_-d-inline-block {
	display: inline-block
}

.x .px_-letter-spacing-1px {
	letter-spacing: 1px
}

.x .px_-text-align-center {
	text-align: center
}

.x .px_-text-decoration-none {
	text-decoration: none
}

.x .px_-text-transform-uppercase {
	text-transform: uppercase
}

.x .px_-w-100P {
	width: 100%
}

.x .px_-border-radius-4px {
	border-radius: 4px
}

.x .px__focus-outline-none:focus {
	outline: none
}

.x .px_-pt-80px {
	padding-top: 80px
}

.x .px_-pb-80px {
	padding-bottom: 80px
}

.x .px_-m-0 {
	margin: 0
}

.x .px_-mt-0 {
	margin-top: 0px
}

.x .px_-mb-40px {
	margin-bottom: 40px
}

.x .px_-ml-auto {
	margin-left: auto
}

.x .px_-border-bottom-width-2px {
	border-bottom-width: 2px
}

.x .px_-border-style-solid {
	border-style: solid
}

.x .px_-w-50px {
	width: 50px
}

.x .px_-mt-20px {
	margin-top: 20px
}

.x .px_-mb-0 {
	margin-bottom: 0
}

.x .px_-ml-inherit {
	margin-left: inherit
}

.x .px_-mr-auto {
	margin-right: auto
}

.x .px_-border-width-1px {
	border-width: 1px
}

.x .px_-p-15px {
	padding: 15px
}

.x .px_-pl-30px {
	padding-left: 30px
}

.x .px_-pr-30px {
	padding-right: 30px
}

.x .px_-pt-none {
	padding-top: none
}

.x .px_-pb-none {
	padding-bottom: none
}

.x .px_-position-relative {
	position: relative
}

@media ( min-width : 1024px) {
	.x ._media_min-width__1024pxpx_-w-auto {
		width: auto
	}
}

@media ( min-width : 1024px) {
	.x ._media_min-width__1024pxpx_-text-align-center {
		text-align: center
	}
}

@media ( min-width : 1024px) {
	.x ._media_min-width__1024pxpx_-ml-auto {
		margin-left: auto
	}
}