<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chat</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{|/css/chat.css|}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script th:src="@{|/js/stomp.min.js|}"></script>
<script th:src="@{|/js/script.js|}"></script>
</head>
<body background="http://img3.wsimg.com/dps/images/404_background.jpg">
<div th:include="fragments/header"></div>

 <div class="col-xs-3" style="height:200px;">
 <h4 th:if="${userlist}!=null" align="center">Groups</h4>
 <h4 th:if="${grouplist}!=null" align="center"><a href="/user/group/create">Create Group</a></h4>
<div class="info-div">
<ul class="list-unstyled">
<li th:if="${grouplist}!=null" th:each="group : ${grouplist}" >

   <a th:href="@{|/user/group/${group.groupName}|}">
   <span style="color:blue;" th:text="${group.groupName}"/>
   </a>
    
    </li>
</ul>
 </div>
 </div>
 
 
 
    <div class="col-xs-6" style="height:200px;">
   <div class="chat_window">
  <div class="top_menu">
   <div class="buttons">
    <div class="button close"></div>
    <div class="button minimize"></div>
    <div class="button maximize"></div>
   </div>
   <div id="to" class="title"><span th:text="${touser}"></span></div>
  </div>
  <div>
  <ul id="msg" class="messages">
  <div th:each="msg : ${msgList}">
 
  <li th:if="${msg.msgFrom} != ${user.username}" class="message left appeared" >
  <div align="center" class="avatar"><br><span class="from" th:text="${msg.msgFrom}"></span></div>
   <div class="text_wrapper">
    <div class="text"><span class="text" th:text="${msg.text}"></span></div>
   </div>
   </li>
    <li th:if="${msg.msgFrom} == ${user.username}" class="message right appeared" >
  <div align="center" class="avatar"><br><span class="from" th:text="${msg.msgFrom}"></span></div>
   <div class="text_wrapper">
    <div class="text"><span class="text" th:text="${msg.text}"></span></div>
   </div>
   </li>
   </div>
  </ul>
  </div>
  <div class="bottom_wrapper clearfix">
   <div class="message_input_wrapper">
    <input id="message_input_value" class="message_input" placeholder="Type your message here..." onstalled="sendMessage()" required="required"/>
    <input type="hidden" id="message_sender" th:value="${from}"/>
    <input type="hidden" id="groupid" th:value="${groupid}"/>
     <input type="hidden" id="message_rec" th:value="${to}"/>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"></input>
   </div>
   <div id="send" class="send_message" onclick="sendMessage()">
    <div class="icon text">Send</div>
   </div>
  </div>
 </div>
</div>


<div class="col-xs-3" style="height:200px;">
<h4 align="center">Users</h4>
<div class="info-div">
<ul class="list-unstyled">
<li th:each="usr : ${userlist}" >

   <a th:href="@{|/user/home/${usr.username}|}" th:onclick="'sendTo(\'' + ${usr.username}+'\') '"><span style="color:blue;" th:text="${usr.name}"></span></a>
    
    </li>
</ul>
 </div>
</div>
	<div id="message_template" class="message_template">
		<li class="message"><div align="center" class="avatar"><br><span class="from"></span></div>
			<div class="text_wrapper">
				<div class="text"></div>
			</div></li>
	</div>
 <footer><div id="footer" align="right"><a href="#" 
   style="color:blue;">Download browser extension</a></div></footer>
 
</body>

<script type="text/javascript">
$(document).ready(function() {
    //console.log( "connecting !!!" );
    connect();
    var elem = document.getElementById('msg');
	elem.scrollTop = elem.scrollHeight;
});

$(message_input_value).keypress(function(e) {
    if(e.which == 13) {
    	sendMessage();
    }
});

function sendTo(sendto) {
	document.getElementById("to").innerHTML = 'To: '+sendto;
	document.getElementById("message_rec").value = sendto;
    //console.log(sendto);
}
	

</script>
<style>
div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
      margin-left: 150px;
  }
  
  #footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#0;
}
  </style>
</html>