<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Group</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{|/css/chat.css|}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script th:src="@{|/js/stomp.min.js|}"></script>
<script th:src="@{|/js/script.js|}"></script>
</head>
<body background="http://img3.wsimg.com/dps/images/404_background.jpg">
<div th:include="fragments/header"></div>
<form th:action="@{/user/group/create}" method="POST">
 <div class="col-xs-3" style="height:200px;">
  </div>
 
    <div class="col-xs-6" style="height:200px;">
    <h2>Create Group</h2>
    <div>
     <div class="form-group">
      <label for="groupName">Group Name</label>
      <input style="width:500px" class="from-control" type="text" name="groupName" id="groupName" placeholder="Enter Group Name">
     </div>
    </div>
    
    <div>
     <div class="form-group">
     
     </div>
    </div>
    
    <div>
     <div align="center" class="form-group">
      <input style="width:500px" class="from-control btn btn-primary" type="submit" name="Create" value="Create">
     </div>
    </div>
</div>


<div class="col-xs-3" style="height:600px;">
<h4 align="center">Select users</h4>
<div>
<select name="members" multiple class="selectpicker info-div" data-live-search="true">
  <option th:each="usr : ${userlist}" th:value="${usr.id}"><span style="color:blue;" th:text="${usr.name}"/>
  </option>
</select>

<p>Hold down the Ctrl / Command button to select multiple users.</p>
</div>

</div>
	
 <footer><div id="footer" align="right"><a href="#" 
   style="color:blue;">Download browser extension</a></div></footer>
 </form>
</body>

<style>
div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
      margin-left: 150px;
  }
  
  #footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#0;
}
  </style>
</html>