<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Edit User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>    
</head>
<body sec:authorize="hasAnyRole('ADMIN')" background="http://img3.wsimg.com/dps/images/404_background.jpg">
	<div th:include="fragments/header"></div>
	<div class="container">
		<h1>Editing User <span th:text="${registerFormData.name}"></span></h1>
		<div th:include="users/userform"></div>
    </div>
</body>
</html>

