
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Form Submission</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" ></link>
<script type="application/x-javascript">
	
	 addEventListener("load", function() {setTimeout(hideURLbar, 0);}, false);
	function hideURLbar(){ window.scrollTo(0,1); } 

</script>

<script>
function clearFields() {
    document.getElementById("name").value = "";
    document.getElementById("email").value = "";
    document.getElementById("mobile").value = "";
    document.getElementById("dateofp").value = "";
    document.getElementById("addr1").value = "";
    document.getElementById("addr2").value = "";
    document.getElementById("country").value = "";
    document.getElementById("state").value = "";
    document.getElementById("city").value = "";
    document.getElementById("pin").value = "";
    document.getElementById("deviceid").value = "";
}
</script>

<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"></link>

<link 
	href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	rel="stylesheet"></link>
	
	<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet"></link>
	
	<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
	rel="stylesheet"></link>
	<style type="text/css">
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
</style>
</head>
<body>
	<div th:fragment="userform(url)">
		<div class="agileits-main">
		<div align="center"><table>
		<tr><td align="center"><span class="blink_me" style="color: red;" th:if="${message}!=null" th:text="${message}"></span></td></tr>
		</table></div> 
			<div class="wrap">
				<form action="#" th:action="${url}" th:object="${registerFormData}"
					method="post" name="form">
					<ul>
						<li class="text">
							<label for="name">name</label>
						</li>
						<li>
							<input id="name" name="name" placeholder="Name" type="text" required="required" th:value="${registerFormData.name}"></input>
						</li>
					</ul>
					<ul>
						<li class="text"><label for="email">E-mail</label></li>
						<li><input id="email" name="email" placeholder="Email" type="text" required="required" th:value="${registerFormData.email}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="mobile">mobile no</label></li>
						<li><input id="mobile" name="mobile" placeholder="Mobile No." type="text" required="required" th:value="${registerFormData.mobile}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="dateofp">date of purchase</label></li>
						<li><input id="dateofp" name="dateofp" placeholder="DD/MM/YYYY" type="text" required="required" th:value="${registerFormData.dateofp}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="addr1">address 1</label></li>
						<li><input id="addr1" name="addr1" placeholder="Address1" type="text" required="required" th:value="${registerFormData.addr1}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="addr2">address 2</label></li>
						<li><input id="addr2" name="addr2" placeholder="Address2" type="text" required="required" th:value="${registerFormData.addr2}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="country">country</label></li>
						<li><input id="country" name="country" placeholder="Country" type="text" required="required" th:value="${registerFormData.country}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="state">state</label></li>
						<li><input id="state" name="state" placeholder="State" type="text" required="required" th:value="${registerFormData.state}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="city">city</label></li>
						<li><input id="city" name="city" placeholder="City" type="text" required="required" th:value="${registerFormData.city}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="pin">zip/pin code</label></li>
						<li><input id="pin" name="pin" placeholder="Zip / Pin" type="text" required="required" th:value="${registerFormData.pin}"></input></li>
					</ul>
					<ul>
						<li class="text"><label for="deviceid">device ID</label></li>
						<li><input id="deviceid" name="deviceid" placeholder="Device ID" type="text" required="required" th:value="${registerFormData.deviceid}"></input></li>
					</ul>

					<div class="clear"></div>
					<div class="agile-submit">
						<input type="submit" value="submit"></input><!--  <input type="reset" value="reset">  -->
						 <input type="button" onclick="clearFields()" value="reset"></input> 
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

