<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Device Information</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
<script th:src="@{|/js/jquery.js|}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
table tr th {
	width: 18%;
}
</style>
</head>
<body sec:authorize="hasAnyRole('ADMIN')" background="http://img3.wsimg.com/dps/images/404_background.jpg">
	<div th:include="fragments/header"></div>
	<div class="container">
		<div class="page-header">
			<h1>
				<span th:text="${user.name}"></span> <small><span th:text="'( '+${device.status}+' )'"></span></small>
			</h1>
		</div>
		<div class="tabbable-panel">
			<div class="tabbable-line">
				<ul class="nav nav-tabs nav-justified">
					<li class="active">
						<a href="#tab_default_1" data-toggle="tab"> Details</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_default_1">
						<table class="table">
							<tr>
								<th>Name</th>
								<td><span th:text="${user.name}"></span></td>
							</tr>
							<tr>
								<th>Address</th>
								<td><span th:text="${user.addr1}+',&#10;'+${user.addr2}+',&#10;'+${user.city}+',&#10;'+${user.state}+',&#10;'+${user.country}+',&#10;'+${user.pin}"></span></td>
							</tr>
							<tr>
								<th>Phone</th>
								<td><span th:text="${user.mobile}"></span></td>
							</tr>
							<tr>
								<th>Email</th>
								<td><span th:text="${user.email}"></span></td>
							</tr>
							<tr>
								<th>Device ID</th>
								<td><span th:text="${device.deviceid}"></span></td>
							</tr>
							<tr>
								<th>Device Key</th>
								<td><span th:text="${device.devicekey}"></span></td>
							</tr>
							<tr>
								<th>Data of Purchase</th>
								<td><span th:text="${user.dateofp}"></span></td>
							</tr>
							<tr>
								<th>Data of Activation</th>
								<td><span th:text="${device.dateofActivation}"></span></td>
							</tr>
							<tr>
								<th></th>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
