<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title >Admin Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
<script th:src="@{|/js/jquery.js|}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
table tr th {
	width: 20%;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</head>
<body background="http://img3.wsimg.com/dps/images/404_background.jpg" sec:authorize="hasAnyRole('ADMIN')">
	<div th:include="fragments/header"></div>
	<div class="container">

		<div class="page-header">
			<h1>Dashboard</h1>
		</div>
		<div class="tabbable-panel">
			<div class="tabbable-line">
				<ul class="nav nav-tabs nav-justified">
					<li class="active">
						<a href="#tab_default_1" data-toggle="tab">Active Users</a>
					</li>
					<li>
						<a href="#tab_default_2" data-toggle="tab">Inactive Devices</a>
					</li>
					<li>
						<a href="#tab_default_3" data-toggle="tab">Deleted Devices</a>
					</li>
				</ul>
				<br />
				<div class="tab-content">
					<div class="tab-pane active" id="tab_default_1">
						<h4></h4>
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>E-mail</th>
									<th>Device ID</th>
									<th>Date of Purchase</th>
									<th></th>
								</tr>
							</thead>
							<tr th:each="user : ${users}">
								<td>
									<span th:text="${user.name}"></span>
								</td>
								<td>
									<span th:text="${user.email}"></span>
								</td>
								<td>
									<a data-toggle="tooltip" title="View" th:href="@{|/admin/${user.id}|}"> <span th:text="${user.deviceid}"></span>
									</a>
								</td>
								<td>
									<span th:text="${user.dateofp}"></span>
								</td>
								<td>
									<a data-toggle="tooltip" title="Edit" th:href="@{|/admin/${user.id}/edit|}"> <i class="glyphicon glyphicon-pencil"></i>
									</a> &emsp;&emsp;<a data-toggle="tooltip" title="Delete" th:href="@{|/admin/${user.id}/remove|}"> <i class="glyphicon glyphicon-trash"></i>
									</a>
								</td>
							</tr>
						</table>
						<br />
					</div>
				
				
					<div class="tab-pane" id="tab_default_2">
						<h4></h4>
						<table class="table">
							<thead>
								<tr>
									<th>Device ID</th>
									<th>Device Key</th>
									<th>Status</th>
								</tr>
							</thead>
							<tr th:each="device : ${devices}" th:if="${device.status}=='inactive'">
								<td>
									<span th:text="${device.deviceid}"></span>
								</td>
								<td>
									<span th:text="${device.devicekey}"></span>
								</td>
								<td>
									<span th:text="${device.status}"></span>
								</td>
							</tr>
						</table>
						<br />
					</div>
					
					
					<div class="tab-pane" id="tab_default_3">
						<h4></h4>
						<table class="table">
							<thead>
								<tr>
									<th>Device ID</th>
									<th>Device Key</th>
									<th>Date of Activation</th>
									<th>Status</th>
								</tr>
							</thead>
							<tr th:each="device : ${devices}" th:if="${device.status}=='User Deleted'">
								<td>
									<span th:text="${device.deviceid}"></span>
								</td>
								<td>
									<span th:text="${device.devicekey}"></span>
								</td>
								<td>
									<span th:text="${device.dateofActivation}"></span>
								</td>
								<td>
									<span th:text="${device.status}"></span>
								</td>
							</tr>
						</table>
						<br />
					</div>
					
				</div>
			</div>
		</div>
	</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script> 
</body>
</html>
